[2013-10-14 21:57] camilonova opened #1 "Wrong float interpretation"
I'm running the example as:

[code]

And then:

[code]

Somehow there is a rounding somewhere doing it wrong.

[2013-12-13 22:10] miltonlab opened #4 "Bugs in tanslation from 30 to 40 in spanish"
In [23]: for n in range(29, 41):
        print num2words.num2words(n, lang='es')
   ....:
vientinueve
vientinueve y uno
vientinueve y dos
vientinueve y tres
vientinueve y cuatro
vientinueve y cinco
vientinueve y seis
vientinueve y siete
vientinueve y ocho
vientinueve y nueve
vientinueve y diez
cuarenta

[2013-12-13 22:11] miltonlab opened #5 "How can i commit changes?"

[2013-12-17 20:45] #5 closed, assigned to nobody

[2013-12-17 22:08] miltonlab opened #6 "Support Python 2.5"
Please add support to in Python 2.5, i have a old system to use it. I get this error:
## In [12]: import num2words

SyntaxError: future feature unicode_literals is not defined (lang_EN.py, line 17)

[2014-03-14 13:36] laowantong opened #8 ""one hundred, ninety-eight" vs. "one hundred ninety-nine" vs. "one hundred and ninety-eight""
Comparing the outputs of Taro Ogawa's original library (namely num2word_EN.to_card) and yours, I found some recurring discrepancies:

[code]

Taro Ogawa's gives the expected result (21124) on the 17th problem of the Projet Euler: http://projecteuler.net/problem=17. Yours give 21070. Using `lang="en"` or `lang="en_GB"` makes no difference.

[2014-03-14 14:25] #8 closed, assigned to nobody

[2014-03-14 14:32] #4 closed, assigned to nobody

[2014-03-14 14:33] #6 closed, assigned to nobody

[2014-05-23 15:53] #1 closed, assigned to nobody

[2014-08-12 14:24] carlosblanco opened #11 "100000 in Spanish should be "Cien mil""
In Spanish, the library outputs "Ciento mil" for the number 100000. The output should be "Cien mil"

[2014-08-25 12:29] #11 closed, assigned to nobody

[2015-02-04 00:03] Alexey-T opened #16 "Py3.3 canot run"
Py3.3 embedded, for editor like Sublime text (so I cannot use Py3.4), cannot run. Err on importing num2words.

[code]

[2015-02-10 18:38] laowantong opened #18 "french ordinals"
Hello again!
[code]
produces:
[code]
Expected result:
[code]
Source: I am French.
Thanks!

[2015-04-05 17:04] orjanv opened #20 "Option to exclude titles such as "and" in the words"
Hi, it would be fine to be able to exclude "and" in the text produced. Would that be possible to add?

Thanks.

[2015-04-06 18:43] hsoft commented on #20
You mean that `num2words(12345)` would yield `'twelve thousand, three hundred forty-five'` instead of `'twelve thousand, three hundred and forty-five'`?

Yeah, that's probably an option that is easy to add. PR welcome.

[2015-04-06 19:08] #18 closed

[2015-04-06 19:08] hsoft commented on #18
Fixed. Thanks for the heads up.

[2015-04-06 19:09] laowantong commented on #18
Thanks for the fix!

[2015-05-29 14:35] williamjmorenor opened #21 "Include license files in the pypi tarball"
Hi

I am packaging num2words in Fedora, I see you are using the GPL license but you do not include the license file in the pypi tarball, can you please add the sile so I have not to patch your app at the moment of create the rpm

[2015-05-29 15:34] cormier commented on #21
Hi William,

Thank you very much for packaging num2words in Fedora. I will add a copy
of the licence soon or you can submit a pull request in the meantime if
you wish.

David
Le 2015-05-29 10:35, William Moreno a écrit :

[2015-06-02 17:36] williamjmorenor opened #22 "Move test files from /site-packages/test"
Hi

Just a question, python-num2words is placing tests files under the root directory of python site-packages, I can not include this files in the rpm, I will exclude this files but It could be nice to move remane the tests directory to num2words-test or something similar so I will can include this files in furete versions of the package.

https://bugzilla.redhat.com/show_bug.cgi?id=1223623

[2015-06-03 21:07] williamjmorenor commented on #22
num2words have packaged:

https://admin.fedoraproject.org/pkgdb/package/python-num2words/

[2015-06-09 15:47] hsoft commented on #22
Oh, I think I misunderstood the bug report initially and underestimating its severity. Polluting site-packages is bad, thanks for letting us know. I'll try to fix this ASAP.

Also, thanks for your packaging efforts!

[2015-06-09 15:54] hsoft commented on #22
## Reproduction notes

If we install num2words in an env with `python setup.py install`, the whole package will be bundled in a `.egg`, so it won't reproduce the bug.

To reproduce the bug, one has to do `pip install .` when being at the root of num2words' repo.

[2015-06-09 15:57] williamjmorenor commented on #22
Thanks for that, python-num2words have been packaging without the test files, if you fix that please make a new release to pypi and I will update the packge, I will request the epel branch to make python-num2words avalibe for RHEL/CentOS and others, at less for epel 7 release.

[2015-06-09 16:06] #22 closed

[2015-06-09 16:08] hsoft commented on #22
Fixed. Can you confirm that it also work on your local machine? If it works for you, I'll make a release.

Watch out for stale egg-info files, which will falsely install tests (see http://stackoverflow.com/a/26547314/103667 ). I wasted most of my time on that...

[2015-06-09 16:30] williamjmorenor commented on #22
I apply the pacht in rpmbuild and work, there is not tests directory in site-packages both for python 2 and 3.

Please if you push the new version will be great if you inlude the license file in the pypi tarball in #21

Sorry bug Fedora Packaging Guidelines requires to include the test files in the package, even rpm have a especial treatment with the %license macro

[2015-06-09 18:45] hsoft commented on #22
Alright, thanks. Good idea about #21. I'll do that.

[2015-06-09 18:47] #21 closed

[2015-06-09 18:59] hsoft commented on #22
It's uploaded to PyPI, let me know if packaging is still problematic.

[2015-10-21 16:49] tien-le opened #24 "issue after converting number to words"
Hi,

Thanks for your lib that helps me so much to convert number to words. But, I have some following issues:

u'twelve point five zero'

u'twelve point five zero'

u'twelve point five one'

u'twelve point five two'

u'twelve point five three'

u'twelve point five five'

u'twelve point five six'

u'twelve point five seven'

u'twelve point five eight'

u'twelve point five eight'

Can you help me to

[2015-10-21 19:22] hsoft commented on #24
Float numbers are fundamentally imprecise. Did you try using `Decimal` instead?

[2015-12-10 22:40] ccobbel opened #26 "Installation on windows server"
Hi,

We installed num2word on a windows server but the module l10n_ca_account_check_writing doesn't find it. Is there a special install for windows server? or special code modification?

Thanks

[2015-12-18 04:32] isnani commented on #24
@hsoft
I changed the way you read the number behind the point. IMHO, we should only consider the digit we see and spell it as is.

[2016-01-08 02:58] MarkLodato opened #31 "1000 in german should be "tausend", not "tausand""
Source: http://www.dict.cc/english-german/one+thousand.html

[2016-01-11 12:54] orjanv opened #32 "Implement Norwegian language support"
Hi, I have started translating the german version into norwegian, but not entirely sure what everything is and what to translate. Is there a language guide I could follow?

[2016-01-11 13:34] hsoft commented on #32
Hi @orjanv, thanks for getting into this. Unfortunately, no, there's not much of a guide for implementing a new language. It's mostly a process of choosing the closest language, base yourself on it, and do a game of trial and error. I'm sorry that it's not easier than that...

[2016-01-19 03:04] isnani commented on #31
@MarkLodato , it has been fixed by #17

[2016-01-20 03:57] MarkLodato commented on #31
Ah, sorry, I didn't have the latest version installed.

[2016-01-20 03:57] #31 closed

[2016-01-21 17:54] CILP opened #34 "u before result"
Hi,

Alway shows the 'u' vowel at the start of each result, is it normal?

u'ciento once mil novecientos noventa y nueve'

[2016-01-28 04:07] Arrowana commented on #34
In means that the string as been represented as unicode, no harm

http://stackoverflow.com/questions/11279331/what-does-the-u-symbol-mean-in-front-of-string-values

[2016-01-28 16:29] hsoft commented on #34
Thanks @Arrowana

[2016-01-28 16:29] #34 closed

[2016-02-24 18:25] paintdog opened #36 "Change the description and/or add a link to pypi"
Please change or adjust the description:

https://pypi.python.org/pypi/num2words

[2016-03-18 19:57] #24 closed

[2016-03-19 11:05] fennesz opened #39 "Danish language support?"
Is anyone doing Danish language support?

[2016-03-19 14:13] hsoft commented on #39
I don't think so. You're interested in doing it @fennesz ?

[2016-03-19 18:16] fennesz commented on #39
@hsoft
Yes. :)
I've forked the project, and will begin working on it.

[2016-03-19 21:32] fennesz commented on #39
Since the Danish number system is quite unusual (Refer to this SATW comic: http://satwcomic.com/just-a-number )...

Danes out there who want to lend a hand implementing Danish for num2words, the fork I'm working on can be found here: https://github.com/fennesz/num2words

[2016-04-19 08:22] strixaluco opened #41 "Feature proposal: grammatical case argument"
Hi. Is there a possibility to add [grammatical case](https://en.wikipedia.org/wiki/Grammatical_case) argument?
Thanks.

[2016-04-19 12:14] hsoft commented on #41
If someone wants to submit a PR to that effect, possibilities are endless!

[2016-04-19 12:45] strixaluco commented on #41
I appreciate your sense of humor :)
Would be useful to have this argument, but I don't have knowledge in Python, unfortunately.

[2016-04-25 00:37] HawkingJan opened #42 "Ein vs. Eins in German"
Hi,
Currently num2words(1, lang='de') gives "eins" which is correct in certain contexts (e.g. if one refers to the digit one or  "Page 1" --> "Seite Eins") but wrong in other cases (if it is followed by a noun, e.g. "1 Meter'" => Ein Meter", "Eins Meter" would be wrong). I'm not sure how this can be handled properly, maybe by an additional flag so that the user can decide weather "eins" or "ein" s

[2016-07-12 10:36] zilvinui opened #43 "1000000 in Lithuanian conversion is wrong"
when using num2word(1000000, lang='lt') it converts to "vienas milijonas tūkstančių" (one milion thousands) also same behavior in lv conversion.

[2016-08-03 13:18] johnmudd opened #44 "floating point?"
Doesn't seem to support floating point well.

    u'one hundred and eleven point two nine'

    u'zero point one two'

[2016-08-03 22:26] paintdog commented on #42
You're right.

This function would be typically used - I think - to write the amount of a check. For example you get a check and there's a amount auf 1,23 €, then there would be the amount in words, too. In this case I would expect "Ein EURO Komma Zwei Drei" or "Ein EURO Komma Dreiundzwanzig".

But: "1,23" then "Eins Komma Zwei Drei".

Unfortunately there's a another problem with 1 and "EIN", I te

[2016-08-03 23:02] HawkingJan commented on #42
To get "Ein EURO Komma Dreiundzwanzig" one would have to split up the floating number and then use num2words separately on 1 (which would give "eins" instead of "ein", see my comment) and on 23 which would give correct "Dreiundzwanzig". The variant "Eins Dreiundzwanzig" might be used in spoken language (e.g. if you pay at the supermarket) but I would consider this quite informal.

Regarding your c

[2016-08-04 20:12] paintdog commented on #42
I'm unsure if you're a native speaker ;) I'm a native speaker. I read the information at Duden and I must say, that they covers many possibilites of the word "tausend", but "tausend..." for 1000 is not acceptable, maybe possible in colloquial language. Sorry.

[2016-08-05 00:00] stefan-langenmaier commented on #42
Hi, sorry to jump in the discussion like that. I'm a native speaker my self. I interpret the duden website (and this is also my personal opinion) in this way that you can use both versions (tausend and eintausend) for 1000. So I would side with HawkingJan.

[2016-08-05 05:30] HawkingJan commented on #42
@paintdog
I'm a native German speaker. To convince you that I'm correct, just listen e.g. to
https://www.tagesschau.de/jahresrueckblick/meldung118284.html
where they clearly say at 1:40 "... Rund tausend Tote, es sind die Tausend ..."
or to
https://www.tagesschau.de/jahresrueckblick/meldung376188.html
where they clearly say "Hundertsten" and not "Einhundertsten" and I would not consider Tagesschau

[2016-08-05 07:38] paintdog commented on #42
Well, I unfortunately disagree :(

You will use num2words when you have to write a amount of money on a check in words and then (!) it is not correct. My opinion. When else would you want to make use of this module? I can say in German "Ich habe tausend Gäste eingeladen" (of course), but on a check you can't write "tausend vier", then someone else could add "acht tausend vier" :)

Have a look at t

[2016-08-06 04:21] HawkingJan commented on #42
I think there are a lots of possibilities where this module can and is being used.
Regarding your argument that the "ein" is needed to preventing checks with fake sums: If the check would be about "zehntausend" (10000) € in principle also somebody could prepend "acht" to make it "achtzehntausend (18000). Or they could even prepend "Fünfmilliarden" ;-) So I think this is not an actual argument.
I t

[2016-08-10 17:25] hsoft commented on #42
@HawkingJan We could add a new "rendering context" concept to the library and let the different language modules handle them, but that would add a layer of complexity to the library.

But then again, maybe not as complex as being in agreement over the german language ;)

PR welcome.

[2016-08-17 20:22] mbcosta opened #50 "Version on pypi.python.org outdated"
Hi
   The version in https://pypi.python.org/pypi/num2words seems outdated. If install with pip
when the program try to use the pt_BR, I got this error

    from num2words.lang_PT_BR import Num2Word_PT_BR
ImportError: No module named lang_PT_BR

But if I clone this repo and install works fine.

[2016-08-24 20:14] nicolls1 commented on #44
Just had this as well
[code]

[2016-08-24 22:45] hsoft commented on #44
Please see issue #1

[2016-08-24 22:45] #44 closed

[2016-09-14 01:28] cantoniazzi commented on #50
I had the same problem.

[2016-10-18 13:51] hsoft commented on #50
Sorry for the delay. I've been very busy. I made a new release at https://pypi.python.org/pypi/num2words/0.5.4

[2016-10-18 13:51] #50 closed

[2016-10-19 00:52] ypraveen opened #53 "0.5.4 installation is failing"
root@avi-dev:/tmp/tt# /tmp/tt/bin/pip install num2words
Downloading/unpacking num2words
  Downloading num2words-0.5.4-py2-none-any.whl (94kB): 94kB downloaded
Installing collected packages: num2words
Cleaning up...
num2words is in an unsupported or invalid wheel
Storing debug log for failure in /root/.pip/pip.log

[2016-10-19 00:53] ypraveen commented on #53
root@avi-dev:/tmp/tt# /tmp/tt/bin/pip --version
pip 1.5.4 from /tmp/tt/local/lib/python2.7/site-packages (python 2.7)

[2016-10-19 08:50] anishmac99 commented on #53
+1

[2016-10-19 12:52] hsoft commented on #53
Hum, strange. I can't reproduce on my machine.

When looking around, I see tickets like https://github.com/SethMMorton/natsort/issues/8 or https://github.com/WoLpH/portalocker/issues/21 which point to some random issues, possibly being caused by the wheel not being universal (py2 and py3).

In the case of num2words, we use 2to3, so it can't be universal.

For the time being, I've removed the wheel

[2016-10-20 12:58] ypraveen commented on #53
Works now. thanks!

[2016-10-20 12:58] #53 closed

[2017-03-31 06:33] bataak opened #63 "How to use num2words with currency?"
Is there any option to use num2words with currency?

[2017-03-31 13:27] dufresnedavid commented on #63
@bataak no, it has not. The use case for this library is to print amounts on checks. I've never seen a check where the currency is printed with the amount in words. If you need that, why dont you concat the result of num2words with your currency code ?

[2017-03-31 16:05] bataak commented on #63
Thanks for your quick reply. I mean, can I use`num2words(1234.56, ??)` then it'll print `one thousand two hundred thirty-four dollars`.  Actually I don't know the option, but I found currency related syntax in your code.

[2017-03-31 16:07] dufresnedavid commented on #63
@bataak I confirm that you cannot do this with this library.

[2017-03-31 17:38] dufresnedavid commented on #63
@bataak in fact, the code for converting to currencies exists. This is old code that was not actually maintained. It is not supported by the num2words.num2words wrapper function. This was written by the previous maintainer of the library (not Savoir-faire Linux).

Howerver, if you wish to add the support for currencies, this could be done. This would need to be tested with unit tests.

[2017-03-31 18:59] bataak commented on #63
I see. Thanks for you reply.

[2017-04-27 16:42] erozqba commented on #43
Thanks for taking the time to create this issue, could you please submit a PR to fix this problem?

[2017-05-05 05:30] hoan024 opened #69 "Vietnam lang conversion is wrong !"
in Vietnam lang :
145**001**000 read correctly is : "một trăm bốn lăm triệu **không trăm lẻ** một ngàn"
you can fix it :)
+> test case wrong :
self.assertEqual(num2words(523056, lang="vi_VN"), "năm trăm hai mươi ba nghìn năm mươi sáu")
+> fix right :  self.assertEqual(num2words(523056, lang="vi_VN"), "năm trăm hai mươi ba nghìn **không trăm** năm mươi sáu")

P/S : sorry my english is bad !

[2017-05-05 13:33] erozqba commented on #69
@hoan024, thanks for taking the time to create the issue, pull request are welcome, I don't speak Vietnam so we really trust in all people making contributions.

[2017-05-15 14:22] ronen opened #70 "unicode problem with python2.7, lang="de""
Hello,  thanks for this module!

I came across a unicode problem.  You can see this works with python3:

[code]

but fails with python 2.7:

[code]

The problem being the call to `str()` which in python3 returns a unicode string, but in 2.7 `str()` can only return ASCII bytes.  (In 2.7 `unicode()` would need to be called instead of `str()` to get a unicode string)

[2017-05-16 13:50] erozqba commented on #70
Hello @ronen thanks for reporting the bug, could you submit a patch and a test?

[2017-05-16 21:09] ronen commented on #70
My bad.  This was fixed in 266fb9d2dfa2ea3e94c86c4cf7dd3f88d7bb9fcb and later commits; the machine in question must have been running an older release of num2words.  Closing this out.

[2017-05-16 21:09] #70 closed

[2017-05-24 05:18] anothingguy commented on #69
@hoan024: it's not wrong, but it's not perfect yet, i've known this issue at initial commit for VietNam lang. It was just initial commit. At that time, i don't have time to handle special case for **không trăm** or **không trăm lẻ**.

523056 = `năm trăm hai mươi ba nghìn năm mươi sáu`. It's acceptable for us, right ?. Actually, **không trăm** is not very important here. Although i agree that: `năm

[2017-05-26 08:48] voltane opened #71 "Missing negative cases in PL language"
int2word function is missing case when value is negative -> returning exception
`ValueError: invalid literal for int() with base 10: '-'`

Proposal fix:
`if n < 0:
        return ' '.join([u'minus', int2word(abs(n))])`

This is the same as for RU language except Polish word :)

[2017-06-06 18:49] prashanthmadi commented on #16
I have similar issue with python 3.5

Does this library supports 3.X ?

[2017-06-08 17:55] michelpf commented on #16
Its seems to be an issue with PIP repository, maybe. In order to work, first clone the project in any folder, then, copy the content of num2words/num2words to Lib/site-packages/num2words/. Worked fine to me.

[2017-06-22 13:28] erozqba commented on #16
Yes, this library supports Python 3.X. We run all the test against 3 different versions of Python using Travis-CI, you could check it at https://travis-ci.org/savoirfairelinux/num2words
I have tested it in Python 3.5 and after install num2words using PIP I can use the library without problems. Could you provide more information?

[2017-06-22 13:29] erozqba commented on #26
Close issue due to inactivity.

[2017-06-22 13:29] #26 closed

[2017-06-22 13:33] erozqba commented on #42
Closing this issue due to inactivity. PR is still welcome.

[2017-06-22 13:33] #42 closed

[2017-06-22 13:34] erozqba commented on #41
Closing this issue due to inactivity.

[2017-06-22 13:34] #41 closed

[2017-06-22 13:36] erozqba commented on #71
@voltane thanks for reporting this issue! PR is welcome, I'm not a PL ou RU native speaker.

[2017-06-22 13:37] erozqba commented on #20
Closing this issue due to inactivity.

[2017-06-22 13:37] #20 closed

[2017-06-22 13:38] erozqba commented on #32
@orjanv you are still implementing Norwegian language support? PR is welcome.

[2017-06-22 13:38] erozqba commented on #43
Closing this issue due to inactivity.

[2017-06-22 13:38] #43 closed

[2017-06-26 02:47] #69 closed

[2017-08-21 14:08] Nucleardragon88 opened #74 "CNY (Chinese yuan) and HKD (Hong Kong Dollars)"
Please add support for currency：
1. CNY (Chinese Yuan)
2. HKD (Hong Kong Dollars)
at least in Einglish words will be ok

[2017-08-30 07:28] toofun666 opened #75 "Added TR translation"
I have uploaded file for TR translation. File name is lang_TR.py
I recently startep using ERPNEXT and I need the Turkish translation for numbers.

Test file test_tr.py to follow.

[2017-08-30 07:55] toofun666 commented on #75
Can someone create the pull requests for these files?
The TR translation reads all positive integers in cardinal and ordinal to 18digits.

[2017-08-30 10:29] #75 closed

[2017-09-05 12:46] erozqba commented on #16
I'm closing this, you are free to open it again if you have the same problem.

[2017-09-05 12:46] #16 closed

[2017-09-13 12:24] olix20 opened #94 "how to use to_year() functions"
I see in code there are calls to to_year() function, example:
`print(n2w.to_year(2001)) `

in Num2Word_DE class. What's the right way to access this function?

[2017-09-29 19:34] erozqba commented on #94
Hi @olix20

I have made a PR #95 to make easier the use of other converters, so it should be easier after this change has been merged.

[2017-09-29 19:34] erozqba commented on #63
Hi @bataak
I have made a PR #95 to make easier the use of other converters, so it should be easier after this change has been merged.

[2017-09-29 21:06] bataak commented on #63
Wow, that's great!

[2017-10-24 14:29] erozqba commented on #94
Solved in #95

[2017-10-24 14:29] #94 closed

[2017-10-24 14:29] erozqba commented on #63
Fixed in #95

[2017-10-24 14:29] #63 closed

[2017-10-27 10:24] shulcsm opened #104 "to_currency with cents false seem to be broken"
`to_currency` form that takes `currency` as argument with `cents=False` seem to produce unexpected results when there is not enough precision available.

For instance `num2words(Decimal('38.4'), lang='lv', to='currency', seperator=' un', cents=False, currency='EUR)` results in `Trīsdesmit astoņi euro un 04 centi`.

Is this expected behaviour? All converters that support this form seem to be affect

[2017-10-27 13:17] erozqba commented on #104
@shulcsm in fact, the code for converting to currencies that exist, is old code that was not actually maintained. It was not supported by the num2words.num2words wrapper function. This was written by the previous maintainer of the library (not Savoir-faire Linux). So we will need to find and fix the hidden problems in this part of the code. We also need more tests for it, because right now there a

[2017-10-29 10:46] shulcsm commented on #104
@erozqba I'm not sure what is the old and what is new. What is the expected API(public and private) for `to_currency`. Since  now there seem to be two variants `to_currency(self, val, longval=True)` bound to one particular currency and calling `to_splitnum` and more involved one `to_currency(n, currency='EUR', cents=True, seperator=',')`. There also seem to be a lot of code duplication.

[2017-10-29 22:20] erozqba commented on #104
@shulcsm you are certainly right, we should define a proper API and fix this, looks like different persons have implemented it differently. I'm just taking over a former colleague to maintain the project and not let it die again, so I don't know all the history that has caused the actual code state.
Could you propose some improves in a PR?
Pull request are always welcomed.

Thanks a lot for taking

[2017-10-30 18:12] erozqba opened #106 "Increment the test coverage for num2words/lang_LT.py"
The test coverage for the num2words/lang_LT.py file is 22.09% and we need to increment this to at least 90%.

[2017-10-30 18:15] erozqba opened #107 "Increment the test coverage for num2words/lang_LV.py"
The test coverage for the num2words/lang_LV.py file is 23.26% and we need to increment this to at least 90%.

[2017-10-30 18:16] erozqba opened #108 "Increment the test coverage for num2words/lang_HE.py"
The test coverage for the num2words/lang_LT.py file is 27.27% and we need to increment this to at least 90%.

[2017-10-30 18:17] erozqba opened #109 "Increment the test coverage for num2words/lang_DK.py"
The test coverage for the num2words/lang_LT.py file is  30.77% and we need to increment this to at least 90%.

[2017-10-30 18:17] erozqba opened #110 "Increment the test coverage for num2words/lang_NO.py"
The test coverage for the num2words/lang_NO.py file is 43.08% and we need to increment this to at least 90%.

[2017-10-30 18:18] erozqba opened #111 "Increment the test coverage for num2words/lang_UK.py"
The test coverage for the num2words/lang_UK.py file is 54.35% and we need to increment this to at least 90%.

[2017-10-30 18:19] erozqba opened #112 "Increment the test coverage for num2words/lang_ES_VE.py"
The test coverage for the num2words/lang_ES_VE.py file is 55.56% and we need to increment this to at least 90%.

[2017-10-30 18:19] erozqba opened #113 "Increment the test coverage for num2words/lang_ES_CO.py"
The test coverage for the num2words/lang_ES_CO.py file is 55.56% and we need to increment this to at least 90%.

[2017-10-30 18:20] erozqba opened #114 "Increment the test coverage for num2words/lang_EN.py"
The test coverage for the num2words/lang_EN.py file is 57.81% and we need to increment this to at least 90%.

[2017-10-30 18:21] erozqba opened #115 "Increment the test coverage for num2words/lang_EN_GB.py"
The test coverage for the num2words/lang_EN_GB.py file is 57.89% and we need to increment this to at least 90%.

[2017-10-30 18:21] erozqba opened #116 "Increment the test coverage for num2words/lang_FR_DZ.py"
The test coverage for the num2words/lang_FR_DZ.py file is 65.0% and we need to increment this to at least 90%.

[2017-10-30 18:22] erozqba opened #117 "Increment the test coverage for num2words/lang_RU.py"
The test coverage for the num2words/lang_RU.py file is 66.3% and we need to increment this to at least 90%.

[2017-10-30 18:23] erozqba opened #118 "Increment the test coverage for num2words/lang_SL.py"
The test coverage for the num2words/lang_LT.py file is 71.26% and we need to increment this to at least 90%

[2017-10-30 18:23] erozqba opened #119 "Increment the test coverage for num2words/lang_ES.py"
The test coverage for the num2words/lang_ES.py file is 73.03% and we need to increment this to at least 90%.

[2017-10-30 18:24] erozqba opened #120 "Increment the test coverage for num2words/lang_DE.py"
The test coverage for the num2words/lang_DE.py file is 73.17% and we need to increment this to at least 90%.

[2017-10-30 18:25] erozqba opened #121 "Increment the test coverage for num2words/lang_FR.py"
The test coverage for the num2words/lang_FR.py file is 73.44% and we need to increment this to at least 90%.

[2017-10-30 22:44] erozqba opened #122 "Increment the test coverage for num2words/lang_AR.py"
The test coverage for the num2words/lang_AR.py file is 75.0% and we need to increment this to at least 90%.

[2017-10-30 22:45] erozqba opened #123 "Increment the test coverage for num2words/lang_NL.py"
The test coverage for the num2words/lang_NL.py file is 75.0% and we need to increment this to at least 90%.

[2017-10-30 22:46] erozqba opened #124 "Increment the test coverage for num2words/orderedmapping.py"
The test coverage for the num2words/orderedmapping.py file is 75.0% and we need to increment this to at least 90%.

[2017-10-30 22:48] erozqba opened #125 "Increment the test coverage for num2words/base.py"
The test coverage for the num2words/base.py file is 78.69% and we need to increment this to at least 90%.

[2017-10-30 22:49] erozqba opened #126 "Increment the test coverage for num2words/lang_EN_IN.py"
The test coverage for the num2words/lang_EN_IN.py file is 80.0% and we need to increment this to at least 90%.

[2017-10-30 22:50] erozqba opened #127 "Increment the test coverage for num2words/lang_FR_CH.py"
The test coverage for the num2words/lang_FR_CH.py file is 81.25% and we need to increment this to at least 90%.

[2017-10-30 22:51] erozqba opened #128 "Increment the test coverage for num2words/lang_TR.py"
The test coverage for the num2words/lang_TR.py file is 85.64% and we need to increment this to at least 90%.

[2017-10-31 09:41] shulcsm commented on #124
Can't we get rid of this file/class? Only place where order seems important is here https://github.com/savoirfairelinux/num2words/blob/master/num2words/base.py#L63 and it doesn't seem very effective. And if it's the most optimal way perhaps `collections.OrderedDict` is better choice?

[2017-11-01 00:17] #104 closed

[2017-11-01 02:44] erozqba commented on #124
@shulcsm I agree with you, so I have made a PR #131 to replace it by collections.OrderedDict.
Could you check it?
Thanks in advance.

[2017-11-01 17:04] #107 closed

[2017-11-01 17:04] erozqba commented on #124
Closed by #131

[2017-11-01 17:04] #124 closed

[2017-11-07 01:20] erozqba commented on #119
Fixed in #234

[2017-11-07 01:20] #119 closed

[2017-11-07 01:20] erozqba commented on #113
Fixed in #234

[2017-11-07 01:20] #113 closed

[2017-11-07 01:21] erozqba commented on #112
Fixed in #234

[2017-11-07 01:21] #112 closed

[2017-11-09 15:18] erozqba commented on #127
Closed by #136

[2017-11-09 15:18] #127 closed

[2017-11-09 15:18] erozqba commented on #121
Closed by #136

[2017-11-09 15:18] #121 closed

[2017-11-09 15:18] erozqba commented on #116
Closed by #136

[2017-11-09 15:18] #116 closed

[2017-11-09 15:19] shulcsm opened #138 "Fix uk tests"
After refactoring doctests broken tests were discovered (something to do with one and femenine form)
https://github.com/savoirfairelinux/num2words/blob/master/tests/test_uk.py#L37
We need someone native in Ukrainian to validate implementation and fix tests.

[2017-11-09 15:29] erozqba commented on #106
Fixed by #135

[2017-11-09 15:29] #106 closed

[2017-11-09 15:30] erozqba commented on #111
Fixed by #135

[2017-11-09 15:30] #111 closed

[2017-11-09 15:30] erozqba commented on #117
Fixed by #135

[2017-11-09 15:30] #117 closed

[2017-11-09 15:32] erozqba commented on #115
Fixed by #135

[2017-11-09 15:32] #115 closed

[2017-11-21 18:55] shulcsm opened #140 "Release"
Could you please tag an publish release?

[2017-11-22 13:08] alxpy commented on #140
+1

[2017-11-22 19:39] erozqba commented on #140
Thanks for the reminder! @shulcsm @alxpy

https://pypi.python.org/pypi/num2words/0.5.6

[2017-11-22 19:39] #140 closed

[2017-12-01 22:00] OddBloke opened #141 "2017 is more commonly said as "twenty seventeen" in English"
### Expected Behaviour

2017 formatted as "twenty seventeen"

### Actual Behaviour

2017 formatted as "two thousand and seventeen"

### Steps to reproduce

* `num2words(2017, to="year")`

[2017-12-03 11:27] MatissJekabsons opened #142 "Latvian num2words ...how to fix?"
### Expected Behaviour

Kopā: EUR 1.21
Summa vārdos: Viens Eiro un Divdesmit Viens cents

### Actual Behaviour

Kopā: EUR 1.21
Summa vārdos: Viens Eiros un Divdesmit Viens cents

### Steps to reproduce

* Make an invoice for customer with latvian language
* Print an invoice for this customer

For now i found only this one issue, that there is one unneeded letter "s"
Is it possible to write word Eu

[2017-12-05 08:51] shulcsm commented on #142
Can't reproduce. Probably something to do with odoo or old version.
num2words==0.5.6
[code]

[2017-12-15 17:15] Goorzhel commented on #141
An argument can be made for both, but most of the results of my Googling support "twenty" (exhibits [A](http://www.sfgate.com/news/article/2010-Twenty-ten-vs-two-thousand-ten-3276950.php) and [B](https://english.stackexchange.com/questions/5442/what-are-the-rules-for-pronunciation-of-years-in-english)) over "two thousand" (exhibit [C](http://www.englishnumber.com/years/how-to-say-years-in-english.

[2017-12-18 15:56] #141 closed

[2017-12-18 16:06] OddBloke commented on #141
Thanks!

[2017-12-19 12:51] #36 closed

[2018-01-04 11:36] jman27182818 opened #146 "Spanish language problem"
### Expected Behaviour

u'setenta y dos billones un mil millones setecientos veinte millones'

### Actual Behaviour

u'setenta y dos billones mil setecientos veinte millones'

### Steps to reproduce

* install num2words using pip install num2words
* go to python shell
* type num2words(72001720000000,lang='es')

[2018-01-06 01:41] JDongian opened #147 "en_US ordinal invalid verbalization"
### Expected Behaviour

`101st` should be converted to `hundred-and-first` https://www.thefreedictionary.com/hundred-and-first (forms such as `one hundred and first` do not exist, although they may appear in text corpora)

### Actual Behaviour

There is an extra `one` verbalized.

### Steps to reproduce

[code]

[2018-01-06 04:59] erozqba commented on #142
@MatissJekabsons could you verify if it works OK with the latest version of num2words?

[2018-01-06 05:07] erozqba commented on #146
Works as expected!

Hi @jman27182818
The actual behavior is correct and `72001720000000` should be written as `setenta y dos billones mil setecientos veinte millones`.

[2018-01-06 05:07] #146 closed

[2018-01-08 17:47] sbadecker opened #148 "Wrong function call for currency in German"
### Expected Behaviour

from num2words import num2words

num2words(20.18, to='currency', lang='de')

==> zwanzig euro und 18 cent.

### Actual Behaviour

TypeError: to_currency() got an unexpected keyword argument 'jointxt'

### Explanation

When trying convert currencies in German, super(Num2Word_EU, self).to_currency(val, jointxt="und", longval=longval) is called. However, it should be self.to_s

[2018-01-09 14:45] erozqba commented on #148
Hi @sbadecker
Thanks a lot for reporting the bug, I have opened a pull request #149  to fix this but I don't know German so I will need your help writing some test so we can resolve the issue #120 too.

[2018-02-23 13:25] kvdb opened #159 "NL currency conversion fails"
### Expected Behaviour

num2words(1.00, to='currency', lang='nl')
u'\xe9\xe9n euro, nul cent'

 ### Actual Behaviour

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/tmp/venv22545/local/lib/python2.7/site-packages/num2words/__init__.py", line 92, in num2words
    return getattr(converter, 'to_{}'.format(to))(number, **kwargs)
  File "/tmp/venv22545/local/lib/pytho

[2018-02-24 20:25] shulcsm commented on #159
Sadly NL doesn't have new behavior implemented. You can try passing old=True for old one.
Assuming it has correct to_cardinal implementation i can try fixing it if you provide some test cases:

[code]

And gettext forms for EUR and currencies you want.

[2018-03-03 21:15] kvdb commented on #159
thirty-eight dollars and 40 cents
achtendertig euro en 40 cent (it's custom not to write 'euros' or 'cents'. That'd be only used when counting physical euro coins - more on that here: https://onzetaal.nl/taaladvies/euro-euros/)

zero dollars and 00 cents
nul euro

one dollar and one cent
één euro en één cent

four thousand, seven hundred and seventy-eight US dollars and zero cents
vierduizendzeven

[2018-03-13 10:58] pikaliov opened #160 "ImportError: cannot import name 'num2words'"
I wrote test function with Python 3.6. However  i got error:

[code]

[2018-03-13 11:35] #160 closed

[2018-03-26 08:31] carlosdauden opened #163 "s/centavos/céntimos in Spain"
https://github.com/savoirfairelinux/num2words/blob/551a980e544407c618a18c8e29eeb7f40fc013f0/num2words/lang_ES.py#L169

Cents are called "céntimos" in Spain

[2018-03-26 14:07] erozqba commented on #163
@carlosdauden It's not so simple, you could check more information here http://lema.rae.es/dpd/srv/search?id=CkZrTrMPBD6tEznmYJ

[2018-03-26 20:58] NotTheEconomist opened #164 ""Ordinal" vs "Cardinal" on pypi"
The *usage* section of the [Pypi project page](https://pypi.python.org/pypi/num2words) lists the result of `num2words(42, to='cardinal')` as the ordinal result

### Expected Behaviour

Text should read:

[code]

or

[code]

### Actual Behaviour

Text reads

[code]

[2018-03-26 21:04] NotTheEconomist commented on #164
It looks like this was fixed in the readme in [PR#145](https://github.com/savoirfairelinux/num2words/pull/145) but never got updated on Pypi.

[2018-03-28 08:59] carlosdauden commented on #163
Según ese enlace:
"no son intercambiables: la fracción centésima de cada moneda tiene oficialmente uno de estos dos nombres"

Por lo que sí que es simple:
`hightxt, lowtxt = "euro/s", "céntimo/s"`

[2018-04-05 03:45] thanhacun opened #165 "Cannot use lang iso code for Vietnamese"
### Expected Behaviour

```num2words(1234, lang='vi)``` should return the words in Vietnamese

### Actual Behaviour

got `raise NotImplementedError()`

### Note
using `lang='vi_VN'` is OK

[2018-04-12 08:38] abdelrhmanghreeb opened #166 "Some Arabic ordinals are not correct"
### Expected Behaviour
[code]

### Actual Behaviour
Ordinals of 6, 7, 10, 11, 13-19 are wrong! This is what previous code snippet actually produces:
[code]

### Steps to reproduce
Type the code I pasted

[2018-04-17 05:07] graymauser opened #168 "adding czech language to pypi"
Hello,
would you consider updating current master to pypi?
I'm using the Czech language specifically (it was a lifesaver to find it here). Now I'm moving to deployment and I really dont want users to have to manually download and install packages from github (target are people untouched by command-line).

Thanks
Best regards

[2018-05-30 13:44] Eleonorth opened #169 "Belgian numbers conversion failed"
### Expected Behaviour

'septante'

'nonante'

### Actual Behaviour

'soixante-dix'

'quatre-vingt-dix'

Weird, moreover they are already implemented in lang_FR_BE.py file...

[2018-06-16 18:08] Matt-OBell opened #172 "Not reporting the decimal part in Nigerian lower currency denomination"
### Expected Behaviour

N254,988.75 should read "TWO HUNDRED AND FIFTY FOUR THOUSAND NINE HUNDRED AND EIGHTY EIGHT NAIRA AND SEVENTY FIVE KOBO

### Actual Behaviour

N254,988.75 is showing as "TWO HUNDRED AND FIFTY FOUR THOUSAND NINE HUNDRED AND EIGHTY EIGHT NAIRA POINT SEVENTY FIVE

### Steps to reproduce

Generate amount in Naira. Nigerian currency is in Naira and Kobo (Kobo is the lower denomin

[2018-06-22 14:05] erozqba commented on #163
This is already fixed https://github.com/savoirfairelinux/num2words/blob/88206811696433887b615e69cffde907fabc5fc8/num2words/lang_ES.py#L26

[2018-06-22 14:05] #163 closed

[2018-06-22 14:13] carlosdauden commented on #163
Thanks

[2018-06-23 10:24] lattoh opened #173 "Problem to write MILLIONS in num2words for fr (French)"
Dear,
I use num2words 0.5.6 to convert in fr (French)

Num2words write " DEUX MILLION", for convertion of 2 000 000 in French, and that is not correct. It must write "DEUX MILLIONS"

I need your help to resolve this issue.

Best regards,

[2018-07-06 15:20] ventilooo commented on #173
@lattoh thanks for your reports,

Would you like to submit a patch for this bug ?
:smiley:

[2018-07-23 08:43] NotTheEconomist commented on #164
Just sweeping through old outstanding issues and this appears to have been fixed somewhere along the line.

[2018-07-23 08:43] #164 closed

[2018-07-24 15:23] gweber2 opened #179 "french currency decimal bug"
### Expected Behaviour

'un euro et **cinquante** centimes'

idem:

'un euro et **cinquante** centimes'

### Actual Behaviour

'un euro et **cinq** centimes'

'un euro et **cinq** centimes'

so .5 in numbers returns .05 in letters, .50 in numbers also returns .05 in letters.

### Steps to reproduce

num2words(**number**, lang='fr', to='currency')
with number being any single digit decimal number o

[2018-07-31 10:46] zkranjcec opened #180 "Croatian numbers to words"
Dear colleagues,
I have used code that was originally used for Slovenian language and modified the code for Croatian language.
To have it in the package, __init__ file should be updated with the following lines:

        _from . import lang_HR_

and
	_'hr': lang_HR.Num2Word_HR()_

in the CONVERTER_CLASSES = {....

I have tried to modify the code so it could be easilly used for Croatian language (i

[2018-07-31 15:32] ventilooo commented on #180
@zkranjcec

Thanks for your contribution, we'll review your code.
However, since we are using a git based collaboration platform.
Could you submit a proper Pull Request please ?

Best regards,
Istvan

[2018-08-02 18:52] zkranjcec commented on #180
Dear Istvan,
I have tried to publish my branch and to create Pull Request, but I am receiving the following error:
![image](https://user-images.githubusercontent.com/17640779/43604395-ec5004da-9695-11e8-8f0e-f9c88764e5ba.png)

What should I do?
I am really noob in github
THank you!
Best regards,
Željko

[2018-08-02 19:07] ventilooo commented on #180
Hi @zkranjcec
You need to create a fork first.

[Here is a step by step guide to your 1st Github contribution](https://github.com/Roshanjossey/first-contributions/blob/master/README.md)

It seems you're using github desktop, the specific tutorial with it is [here](https://github.com/Roshanjossey/first-contributions/blob/master/github-desktop-tutorial.md)

Best regards
Istvan

[2018-08-03 09:29] gweber2 commented on #179
Hi @ventilooo,
i have zero experience or programing skills so not very comfortable, apologies.

[2018-08-13 22:16] gwerbin opened #182 "Integer input, as a string, gives floating point output"
### Expected Behaviour

[code]

### Actual Behaviour

[code]

### Steps to reproduce

[code]

[2018-08-23 08:36] oerp-odoo opened #184 "Negative amount not working for LT and LV"
### Expected Behaviour
Negative amounts should work for LT and LV.

### Actual Behaviour

It gives this error:

[code]

### Steps to reproduce

Try to convert any negative amount for `lt` or `lv`.

[2018-08-23 14:39] #184 closed

[2018-09-11 17:47] #166 closed

[2018-09-11 17:47] #122 closed

[2018-09-13 14:09] reboutli-crim opened #188 "FR : Pluriel de million, milliard, cent et vingt"
### Expected Behaviour

    (4000004, 'quatre millions quatre'),
    (4300000, 'quatre millions trois cent mille'),
    (80000000, 'quatre-vingts millions'),
    (300000000, 'trois cents millions'),

### Actual Behaviour

    (4000004, 'quatre million quatre'),
    (4300000, 'quatre million trois cent mille'),
    (80000000, 'quatre-vingt millions'),
    (300000000, 'trois cent millions'),

### St

[2018-09-13 17:17] erozqba commented on #188
@reboutli-crim you will need to fork the project into your own account, apply your patch there, commit and create a pull request. If not, you can share your patch here and some of the maintainers will try to apply the patch for you is the patch is ready.

Thanks a lot for taking the time to contribute!

[2018-09-16 08:35] neotrons opened #190 "currency without part cents"
### Expected Behaviour

In my country when we write the value of the currency for the invoices, the cents part is not used and it is written like this:

for example:

55.45 ==> fifty-five and 45/100 dollars

Is this form implemented?
If I implement, what is the best way to do it, it is possible to use the parameter cents = False to write it in the indicated way or I must use another parameter so t

[2018-09-16 16:13] crazymerlyn commented on #173
I am unable to reproduce this bug. Does it still exist?

[2018-09-16 18:08] erozqba commented on #173
Works as expected on the master branch.

[2018-09-16 18:08] #173 closed

[2018-09-17 10:39] shulcsm commented on #190
I've implemented `_cents_terse` in #194  that you would overload

[2018-09-17 11:03] shulcsm commented on #182
I know this will break a lot of code, but shouldn't accepted types look like this:
[code]

At the moment input parsing is all over the place, IMO it should be responsibility of user

[2018-09-17 17:11] erozqba commented on #182
I will only change this on your suggestion @shulcsm
[code]

[2018-09-17 18:11] shulcsm commented on #182
@erozqba can you rephrase that? Not sure i got it. Do you think it's acceptable as breaking change? If so we should probably figure out strict definitions for everything  considered "public API"

[2018-09-17 18:37] gwerbin commented on #182
You could also go the [YARL](https://github.com/aio-libs/yarl) route and make a kind of `NumericThing` (obviously needs a better name) class, with methods like `NumericThing.as_currency()`

[2018-09-18 15:59] erozqba commented on #182
@shulcsm I think we could make this possible. We should advise people about this change and give the opportunity to fix it before we make the release. We will need to announce this change and throw a warning if someone is using the wrong type, after 2 releases we could make the breaking change real.

[2018-09-18 16:28] shulcsm commented on #182
Okay, that makes sense. I guess implementing sane sing path for parsing should be done after that.

[2018-09-25 14:29] #179 closed

[2018-09-25 16:15] crazymerlyn commented on #114
`lang_EN.py` has 100% coverage since #195 was merged.

[2018-09-25 16:27] crazymerlyn commented on #169
Does this issue still exist? I wasn't able to reproduce it.

[2018-09-25 16:44] erozqba commented on #169
@Eleonorth which version of num2words are you using? I have verified and tests for Belgian have cases like the one you have mention. I'm unable to reproduce this bug.

[2018-09-25 16:45] erozqba commented on #114
Thanks @crazymerlyn

[2018-09-25 16:45] #114 closed

[2018-09-25 18:56] crazymerlyn commented on #123
Test coverage for `num2words/lang_NL.py` is greater than 90% in the current build.

[2018-10-07 09:33] mariaS210 opened #206 "Romanian support"
Can we add support for Romanian language?
Thanks!
### Expected Behaviour
[code]
### Actual Behaviour
No romanian language support
### Steps to reproduce
N/A

[2018-10-11 01:13] BayMinimum opened #209 "Korean support"
Hello! I just found this wonderful project and wish if there's support for my language :crying_cat_face: If no one is doing it, can I work on implementing Korean numbers?

[2018-10-13 23:31] erozqba commented on #209
Hello @BayMinimum!
Yes please, implement Korean support :pray: all pull request are welcome.
Thanks a lot in advance.

[2018-10-13 23:35] erozqba commented on #206
Yes! All pull request are welcome! Feel free to implement it and open a PR.

[2018-10-16 08:32] dastanbeksamatov opened #217 "Kyrgyz language support"
Hello! Amazing project!

I want to work on Kyrgyz language support. Are pull requests welcome?

[2018-10-16 09:07] gweber2 commented on #179
Thank you :+1:

[2018-10-16 15:29] #165 closed

[2018-10-17 13:56] #206 closed

[2018-10-22 03:29] btharper commented on #217
General guidelines are in the [CONTRIBUTING.md](https://github.com/savoirfairelinux/num2words/blob/master/CONTRIBUTING.md) file. Pull requests are mentioned as the standard workflow for adding code. While I can't speak for the maintainer about specific languages or more specific requirements, pull requests for other languages (Korean #219, Romanian #215 and Serbian #207 recently) are being conside

[2018-10-22 03:31] btharper commented on #217
General guidelines are in the [CONTRIBUTING.md](https://github.com/savoirfairelinux/num2words/blob/master/CONTRIBUTING.md) file. Pull requests are mentioned as the standard workflow for adding code. While I can't speak for the maintainer about specific languages or more specific requirements, pull requests for other languages (Korean #219, Romanian #215 and Serbian #207 recently) are being conside

[2018-10-25 15:45] r1fl opened #221 "grammatical gender"
first of all,
awesome project!
i couldnt believe it when i saw the amount of languages you support!

--

in hebrew, as in [some other languages](https://en.wikipedia.org/wiki/List_of_languages_by_type_of_grammatical_genders#Masculine_and_feminine) that have grammatical gender, the word expressing the number can differ based on the context of the sentence because of grammatical gender.

e.g. "1 boy

[2018-11-01 03:01] btharper commented on #182
I ran into an issue that's either another symptom or closely related based on handling strings as floats when the call `int(value) == value` call fails in num2words/base.py when trying to test numbers that don't fit in a float (> 10**23), like `num2words(str(10**80))`

Converting strings to Decimal objects fixes the integer string case above and large string numbers as well, while ignoring string

[2018-11-01 22:03] erozqba commented on #217
@dastanbeksamatov all PR are welcome! :)

[2018-11-19 14:22] hashd opened #226 "Hindi Language Support"
### Expected Behaviour

num2words should be able to convert numbers to words in Hindi (Indian Language).

### Actual Behaviour

Hindi Language support is currently not present

### Steps to reproduce
Not applicable

We've implemented Hindi language support for `num2words` to help us in our development. We can contribute it back if it falls within the scope.

[2018-11-19 15:14] maximest-pierre commented on #226
Yes, it's within the scope of ```num2words``` as a matter of facts any new language or dialect is welcome. Just send a PR and we will look into adding it.

[2018-11-20 09:50] hashd commented on #226
Thanks! At the moment, we have added Hindi language primarily because we needed it for our work. We'll create the PR corresponding to that soon.

We'll gladly contribute other languages/dialects when we add any for our use.

[2018-11-20 18:12] erozqba commented on #226
Great news @hashd! Thanks a lot in advance for taking the time to make that contribution :smile:

[2018-12-03 01:57] wenheping opened #229 "Failed build with python3.6"
Hi,

   I failed build num2words-0.5.8 with python-3.6 on FreeBSD-11.2, while 2.7 and 3.7 success.
   The error message is :
  =======================<phase: configure      >============================
===>   py36-num2words-0.5.8 depends on package: py36-setuptools>0 - found
===>   py36-num2words-0.5.8 depends on file: /usr/local/bin/python3.6 - found
===>   py36-num2words-0.5.8 depends on file:

[2018-12-05 12:32] null-git commented on #229
Hi, I'm the maintainer of this port.

The break occured in the 0.5.8 release, 0.5.7 build fine on python 3.6.
The character in question seems to be the 'é' in line 50 in README.rst, so it seems to be some kind of encoding error. But why it only happens on python 3.6 and only in this version of the library I can't say.

Anyway, opening all files in setup.py with encoding='utf-8' set fixes the probl

[2018-12-05 14:51] erozqba commented on #229
@null-git I will also suggest removing the problematic example on the README.rst file

[code]

I have created a PR #231 to try to fix this problem. Can you test this branch and provide some feedback?

[2018-12-26 14:54] #229 closed

[2019-01-02 21:05] neysofu opened #234 "Erroneous copyright notice"
Commit 53b4518 added a copyright and license notice to every source file.

    # Copyright (c) 2003, Taro Ogawa.  All Rights Reserved.
    # Copyright (c) 2013, Savoir-faire Linux inc.  All Rights Reserved.

    # This library is free software; you can redistribute it and/or
    # modify it under the terms of the GNU Lesser General Public
    # License as published by the Free Software Foundation.

[2019-01-07 12:30] null-git commented on #229
Could we have a new release to include this fix?

[2019-01-07 14:34] erozqba commented on #229
@null-git sure, I will prepare one as soon as possible.

[2019-01-12 16:07] williamjmorenor commented on #234
+1 here and good catch, another way to handle this issue is asking contributors to singoff theirs commits as the Linux kernel Team does

https://developercertificate.org/

[2019-01-12 16:44] zenogantner commented on #120
Now it is at 100%, according to this link: https://coveralls.io/github/savoirfairelinux/num2words?branch=master

Can this be closed?

[2019-01-12 17:02] zenogantner commented on #32
There is now Norwegian support ("no"). Can this be closed?

[2019-01-12 17:36] zenogantner commented on #221
Good point.
For some languages, there are even more things to consider.

For example in German, in addition to gender, the case (nominative, genitive, dative, accusative) also influences the form of the cardinal number: "1 boy" can be "ein Junge", "eines Jungen", "einem Jungen" or "einen Jungen" ...

And, for ordinal numbers, it makes a difference whether an article is used or not:
1st boy can be

[2019-01-12 18:01] erozqba commented on #234
@neysofu @williamjmorenor and to **all other contributors**, please accept my apologies. I don't intend to remove the intellectual property of anyone. I even not longer work for Savoir-faire Linux. There were some files without the mention of the license or copyright or with incorrect coding. I add them and try to keep the mention of the developers that have added their names on the copyright, an

[2019-01-12 18:02] erozqba commented on #120
Yes, thanks @zenogantner

[2019-01-12 18:02] #120 closed

[2019-01-12 18:03] erozqba commented on #32
Yes, thanks @zenogantner

[2019-01-12 18:03] #32 closed

[2019-01-12 22:34] neysofu commented on #234
I figured it wouldn't be malicious,

[2019-01-12 22:36] neysofu commented on #234
I figured it wouldn't be malicious. I will start working on a PR that removes all copyright notices added with 53b4518. Sounds good?

[2019-01-12 23:34] erozqba commented on #221
@r1fl @zenogantner all contributions are welcome! It's not the first time someone suggests this feature. Please create a PR of the implementation for Hebrew and Germany. I suggest that you also take into account the command line functionality when implementing this optional gender parameter.

[2019-01-12 23:43] erozqba commented on #234
@neysofu Yes, thanks a lot for fixing this!

[2019-01-13 23:17] zenogantner commented on #221
I did some thinking -- for ordinals everything could be achieved by attaching additional letters to the end of the string. For cardinals, only "1" is affected for German.

So the implementation would be quite simple.

I would suggest the following additional arguments (with possible values for German, defaults are None unless highlighted in *bold face*):

* gender: male, female, neuter
* case: nom

[2019-01-14 02:48] erozqba commented on #39
thanks @zenogantner

[2019-01-14 02:48] #39 closed

[2019-01-14 02:49] erozqba commented on #209
@zenogantner thanks!

[2019-01-14 02:49] #209 closed

[2019-01-18 21:01] #182 closed

[2019-01-29 05:18] gregopet commented on #118
Hi,

We have compiled a suite of unit tests for converting numbers into Slovene words at https://github.com/gregopet/zapis-slovenskih-stevil and would love to update the unit tests for this project, I just have a question: how would you like the unit tests written? I can:

1) convert the JSON data from my repository into Python code and put it into the unit test
2) copy the current JSON version of

[2019-02-01 15:54] erozqba commented on #118
Hi @gregopet,
We already have some tests implemented for Solvene, so even if option 1 will make more complicated importing subsequent changes I don't think we will have to import them too often. Could you give it a try and add thew missing tests cases for Slovene? You can check the missing coverage on Travis.
Thanks a lot for your help.

[2019-02-02 10:52] gregopet commented on #118
Alright, will do, just a quick question: I cloned the project, installed it and then tried to run the tests using `nox` as well as `python setup.py test` and the only way the tests run is if I use `sudo`, otherwise I get errors about missing permissions - it seems the tests want to globally re-install the project again every time. Running tests using sudo can't be the intended way, right?

(Python

[2019-02-03 15:46] gregopet commented on #118
I could run the tests, but only using `sudo` which shouldn't be required to run unit tests. Subsequent runs also required `sudo` so it was not a matter of something needing to be installed beforehand. I have no idea what I can do with `delegator`, I just want to run the tests..

Regardless, what should be done with the pull request? It exposes some errors which would require fixing, is it expected

[2019-02-03 23:07] bblaz commented on #118
Hi @gregopet, try first setting up a virtual environment via virtualenv command for py2 or pyvenv for py3.
https://docs.python.org/3/tutorial/venv.html
Inside the virtual environment you should be able to run without sudo (as you won't install packages globally).

[2019-02-07 15:31] erozqba commented on #118
I suggest you:
1. Clone the project
2. Add the tests
3. Fix the code if you find any bug
4. Create a Pull Request once you have finished of adding all the tests and they are passing.

[2019-02-08 06:57] gregopet commented on #118
Well I did 1. and 2. already and there are bugs.

3. will take me a while - Slovene has many edge cases! In addition, the code has almost no comments and the logic is generalized from a general main class which is supposed to make things easier but makes them harder for my language IMHO. Looking at how languages like German handle their special cases (using regular expressions), I feel this would

[2019-02-08 10:05] bblaz commented on #118
@gregopet can you provide me with link to your cloned repository with tests, I may be able to provide a patch and we can avoid a complete rewrite

[2019-02-09 10:10] gregopet commented on #118
The pull request is at https://github.com/savoirfairelinux/num2words/pull/239 and the forked repository  is at https://github.com/gregopet/num2words

As for the complete rewrite, I'm writing the thing separately in Haxe (just for Slovenian), so I would copy the relevant code from there, not do a complete rewrite (Haxe exports to various languages, including Python, and the output is quite nice wit

[2019-02-09 13:25] bblaz commented on #118
Hi, I have cloned your tests and made the fixes. Please check and I'll make the pull request with the fixes, then you can make your pull request with the tests. Please note that I have made a few correction to the original tests.

https://github.com/bblaz/num2words

[2019-02-10 06:13] gregopet commented on #118
You forked the original repository, not mine so you didn't get any of the new tests (I have to confess I didn't go through the existing tests but given how the code works I'm not surprised there were errors in them as well). See this file: https://github.com/gregopet/num2words/blob/master/tests/test_sl.py (especially methods `test_ordinal_numbers_from_repository_of_test_cases` and `test_cardinal_n

[2019-02-10 06:23] gregopet commented on #118
The only failed test I found was `'milijarda osemsto trije milijoni šeststo tri tisoč osemsto ena' != 'milijarda osemsto tri milijone šeststo tri tisoč osemsto ena'` which are both definitely correct; the question just becomes which is more correct (or which can't become wrong in some contexts) :smile:

(and if you'd like to take part in _that_ discussion I welcome you to comment on https://github

[2019-04-10 10:17] Kangcor opened #249 "Release"
Could you please tag and publish a new release? Thanks

[2019-04-11 19:19] ventilooo commented on #249
@erozqba Could you do this in the following days ?

[2019-04-13 14:52] cassiobatista commented on #221
@zenogantner  For Brazilian Portuguese, only ordinal numbers differ in gender (and a few cardinal (I can only think of `dois -> duas`), but it's not as much as the ordinal ones). You just need to changed one single letter at the end of each word converted: `o` to `a`. E.g.:

[code]
A conversion for female gender would therefore produce "centésim**a** décim**a** primeir**a**".

I'm actually tempted

[2019-04-13 15:37] zenogantner commented on #221
I do not have the time/energy this weekend, let's see whether I can make time at some point. If anybody else does it, great!

[2019-05-03 05:54] yhgon opened #253 "en_US currency print euro instead of dollar"
### Expected Behaviour

'one thousand dollars'

### Actual Behaviour

'ten euro, zero cents'

### Steps to reproduce

* step 1  pip install --user num2words
* step 2 from num2words import num2words

[2019-05-03 09:10] yhgon commented on #253
it works well with currency `USD`

num2words(1000, to='currency', currency='USD')

[2019-05-03 09:10] #253 closed

[2019-05-08 08:50] Kangcor commented on #249
Is there any estimation for the release date?

[2019-05-09 17:37] Alexandre-Bernardes commented on #249
Cool, I'll be very gratetul too!
Thanks a lot!

[2019-05-12 17:42] erozqba commented on #249
I have made the release v0.5.10.
https://pypi.org/project/num2words/
https://github.com/savoirfairelinux/num2words/releases/tag/v0.5.10

[2019-05-12 17:42] #249 closed

[2019-05-12 17:45] Alexandre-Bernardes commented on #249
thank you!

[2019-05-12 18:18] Kangcor commented on #249
Thanks!

[2019-05-14 16:54] machtam opened #256 "unable to add a new cuurency with 3decimal"
Hi, i want to add the tunisian localisation and i have to set up the decimal precision to 3 but its not working.
I was forced to define parse_currency_parts function.

[2019-05-29 12:29] klaudiabalazy commented on #71
Hi! There is also different small bug for Polish language: num2word returns 'dziewięćdzisiąt' instead of 'dziewięćdziesiąt' for the number 90,..,99 (missing 'e'). ;)

[2019-05-30 22:04] lo9i opened #257 "Added es_AR support file"
[lang_ES_AR.py.zip](https://github.com/savoirfairelinux/num2words/files/3238903/lang_ES_AR.py.zip)
I couldn't find where to add it so here it is.

regards,

anibal

[2019-06-04 14:54] MeggyCal opened #258 "Failing test_cli_with_lang_to on SUSE"
When I build this package, I encounter a test failure:

[    6s] self = <tests.test_cli.CliTestCase testMethod=test_cli_with_lang_to>
[    6s]
[    6s]     def test_cli_with_lang_to(self):
[    6s]         """You should be able to specify a language
[    6s]         """
[    6s]         output = self.cli.run_cmd(150.55, '--lang', 'es', '--to', 'currency')
[    6s] >       self.assertEqual(output.r

[2019-06-06 06:40] mariaS210 opened #259 "Romanian language issues:"
Some issues:
[code]
should be
```douăzeci și două mii```

For currency, i know the convention is „una” instead of „o”. That's what it is written on the banknotes, „UNA SUTĂ”.

I'm currently adjusting the result with:
`.replace('o mie', 'una mie').replace('o sută', 'una sută').replace('doi mie','două mii').replace(' ', '')`
(also removing the spaces for financial documents)

_Originally posted by @

[2019-07-23 11:43] ahmad18189 opened #265 "Seperator not loaded corectly"
https://github.com/savoirfairelinux/num2words/blob/2d1a318359834f133a566d0a56c7c23e71fba449/num2words/lang_AR.py#L191

if you tried this number "667851.14" the separator not add correctly
and when i change the value or the line to
if ret_val != "" and tens < 8:
                        ret_val += " و "
or
if ret_val != "" :
                        ret_val += " و "
every things load perfectly
if any

[2019-08-18 00:47] sekti92 opened #267 "Num2words Doesn't change the currency based on country name"
Why the currency still in Euro currency even i have changed the language?
Is there anything that I need to change to use this library? Thanks.

### Expected Behaviour

'twenty-five thousand, five hundred and two dollars, fifty-one cents'

'twenty-five thousand, five hundred and two pounds, fifty-one pence'

### Actual Behaviour

'twenty-five thousand, five hundred and two euro, fifty-one cents'

'

[2019-08-24 20:32] toofun666 commented on #128
How can I do this?

[2019-08-24 23:18] btharper commented on #128
Coverage can be increased by adding more test cases to the project. Tests are arranged by language in the [tests](https://github.com/savoirfairelinux/num2words/tree/master/tests) directory. For Turkish, additional tests would be added to test_tr.py.

Coverage metrics are generated at the end of each build on Travis, and are available on Coveralls https://coveralls.io/github/savoirfairelinux/num2wo

[2019-08-25 01:09] btharper commented on #128
I ran a script to generate a few of the numeric test cases that aren't currently covered if it would be helpful.

[code]

[2019-08-27 08:07] priyadhoundiyal commented on #267
I'm also facing the same problem on setting lang to 'en_IN'

[2019-09-10 22:03] erozqba commented on #267
[code]

For other examples, please check the tests
https://github.com/savoirfairelinux/num2words/tree/master/tests

[2019-09-10 22:03] #267 closed

[2019-10-03 21:04] justin-hubbard commented on #172
I'd like to fix this if it's still active

[2019-10-07 06:09] Ablesius commented on #180
Hi,
this issue seems orphaned. I was wondering whether I could take it over @ventilooo

[2019-10-08 14:38] npujol opened #273 "Decimal numbers correction for Spanish"
### Expected Behaviour

Decimal digits are written according to the number of significant digits, not each number individually. The current operation is correct with respect to the tests defined, but incorrect from the point of view of writing in Spanish language.

(2.14, 'dos punto catorce')

### Actual Behaviour

(2.14, 'dos punto uno cuatro')

### Steps to reproduce
Run:
* $num2words 2.14 -l es

[2019-10-08 17:50] #273 closed

[2019-10-15 14:56] pkrzyszowski opened #277 "Polish language (TWENTIES)"
### Expected Behaviour

TWENTIES = {
...
    9: ('dziewięć**dziesiąt**',),
}
### Actual Behaviour

TWENTIES = {
...
    9: ('dziewięć**dzisiąt**',),
}

[2019-10-20 20:48] aaronrudkin opened #281 "String containing numerals should work."
### Expected Behaviour

Combinations of strings and numbers should convert as expected. For instance:

`num2words("text 1")` should return "text one"

### Actual Behaviour

"decimal.invalidOperation" exception is raised.

### Steps to reproduce

Call num2words with any mix of characters and numerals.

It would seem to me the general approach here should be that if a string cannot be directly conve

[2019-12-16 15:04] omerfaruknav opened #299 "dotnet version"
Do you know a dotnet version of this tool?

[2019-12-16 18:43] hypernote opened #300 "The dot are always being interpreted as comma in brazilian portuguese."
The dot are always being interpreted as comma in brazilian portuguese.

### Expected Behaviour

num2words("1.50", lang='pt_BR')

### Actual Behaviour

num2words("1.50", lang='pt_BR')

### Steps to reproduce

* Call the function num2words("1.50", lang='pt_BR')

[2019-12-18 15:04] toofun666 commented on #128
Done already. Waiting the update to be merged!

[2019-12-20 21:50] toofun666 opened #302 "Can sb commit the latest developments?"
### Expected Behaviour

Fill me in ...

### Actual Behaviour

Fill me in ...

### Steps to reproduce

* step 1
* step 2
* ...

[2019-12-23 20:48] ventilooo commented on #299
There is none at the moment and I don't think another language is about to be supported.
However, you can use python package in dotnet app with the .NET Common Language Runtime (CLR) .
Here is some resources:
* https://github.com/pythonnet/pythonnet
* http://pythonnet.github.io/

hope it will help you

[2019-12-31 15:30] #125 closed

[2019-12-31 17:20] #259 closed

[2020-01-07 09:30] warp3r-68 opened #304 "Incorrect translation of numbers in Polish"
### Expected Behaviour
IN FILE: num2words/lang_PL.py
TWENTIES = {
    2: ('dwadzieścia',),
    3: ('trzydzieści',),
    4: ('czterdzieści',),
    5: ('pięćdziesiąt',),
    6: ('sześćdziesiąt',),
    7: ('siedemdziesiąt',),
    8: ('osiemdziesiąt',),
    9: ('**dziewięćdziesiąt**',),
}

IN FILE: num2words/tests/test_pl.py
**dziewięćdziesiąt**

### Actual Behaviour
IN FILE: num2words/lang_PL.py
TWEN

[2020-01-10 17:01] OmarGonD opened #305 "Can I change the word euros for soles (peruvian currency) or simple not show it?"
### Expected Behaviour

`num2words(1670.60, to='currency', lang='es')`

Should return;

`mil seiscientos setenta soles con sesenta céntimos`

or not show the type of currency at all.

`mil seiscientos setenta con sesenta céntimos`

### Actual Behaviour

`mil seiscientos setenta euros con sesenta céntimos`

### Steps to reproduce

[code]

[2020-01-15 03:45] erozqba commented on #305
@OmarGonD yes you can, you can override the currency type like this:
[code]

[2020-01-15 03:45] #305 closed

[2020-03-28 08:55] khuang0312 commented on #147
May I take a stab at solving this issue?

[2020-03-28 08:56] khuang0312 commented on #281
May I take a stab at this issue?

[2020-05-07 10:38] nikolamilev-cwl opened #313 "Incorrect output for currency and en_IN"
### Expected Behaviour

_en_IN_ lang uses rupees in currency mode.

### Actual Behaviour

_en_IN_ lang uses euros and cents instead of rupees.

### Steps to reproduce

* Install `num2word` version `0.5.10`
* Run this line of code `print(num2words("639098", to='currency', lang="en_IN"))`
* Expected output is `six lakh, thirty-nine thousand and ninety-eight rupees`
* The actual output is `six lakh,

[2020-05-15 20:24] nmstoker opened #316 "Unexpected behaviour with year format when applied to years with following decimals"
### Expected Behaviour

num2words(1980.6, to='year')
'nineteen eighty point six'

Admittedly this is not exactly a common way of writing years and it's more that I would generally prefer the "least surprising" output in this situation rather than I am suggesting this is totally normal or commonly seen.

### Actual Behaviour

num2words(1980.6, to='year')
'nineteen eighty point five nine nine nine n

[2020-05-17 19:35] nmstoker commented on #316
Interestingly this only happens in cases where a non-string numeric value is submitted.  Thus it does not happen with:

num2words('1980.6', to='year')
'nineteen eighty point six'

[2020-05-27 17:03] xcom169 opened #317 "Can I help in adding Hungarian language ?"
Can I help to the project in adding Hungarian language ?

[2020-05-29 12:27] paulovn opened #318 "Error in localized string"
Hi. The localized string for number overflow in Spanish:

https://github.com/savoirfairelinux/num2words/blob/e5bed36054b4cb99469b1d9646ae97eb593cf996/num2words/lang_ES.py#L44

is missing the two parameters `value` and `MAXVAL` it will be called with at:

https://github.com/savoirfairelinux/num2words/blob/e5bed36054b4cb99469b1d9646ae97eb593cf996/num2words/base.py#L115

this makes it generate a `Typ

[2020-07-16 09:37] arjaz opened #319 "Incorrect convertion of 24,120.10"
### Expected Behaviour

twenty-four thousand, one hundred and twenty point one

### Actual Behaviour

Invalid literal for Decimal: '24,120.10'

### Steps to reproduce

`$ num2words 24,120.10`

[2020-07-24 19:16] pavlovnicola opened #320 "Greek Language Support"
Hi,

Is there a change you can support Greek language?

[2020-07-29 13:25] Adityashaw commented on #313
Same problem. Did you find any solution?

[2020-07-29 13:38] nikolamilev-cwl commented on #313
Parsed it using the `re` module to match the format I need.

[2020-08-25 22:10] ventilooo commented on #317
Yes for sure, any contribution is welcome.
You got plenty of PR to take example from.
Please submit test with your code.

[2020-08-31 07:12] xcom169 commented on #317
So currently HU language is totally unsupported in the latest version ? Because I've seen some source files for HU.

[2020-09-02 19:49] ventilooo commented on #317
@xcom169

There's some basic support on the master branch.
Since that initial contribution, no new version has been released.
So you can either setup you package manager to fetch from source instead of PyPi and use it in your project.
Otherwise polish the current implementation for the next release.

[2020-09-21 00:10] KommuSoft opened #325 "Ordinal of zero in Dutch"
### Expected Behaviour

The ordinal value for Dutch for zero is:

[code]

### Actual Behaviour

In Dutch this would likely be: `nulde` or `nulste`. [*Wiktionary*](https://en.wiktionary.org/wiki/nulde) says it is _nulde_.

or we should raise an error to disable values less than or equal to 0.

### Steps to reproduce

* `num2words(0, to='ordinal', lang='nl')`

[2020-10-01 19:44] AyonPal commented on #313
You need to specify arguments `currency='INR'` (default is `'EUR'` in any case). Like
`print(num2words("639098", to='currency', currency='INR', lang="en_IN"))` return `six lakh, thirty-nine thousand and ninety-eight rupees, zero paise`

[2020-10-03 15:32] gs202 commented on #108
Hope my PR will help to close this one

[2020-10-03 16:09] jenniegunawan commented on #318
Hi @paulovn, I'd like to try to create PR regarding this issue. I'll follow your error message template. Thank you 👍

[2020-10-04 14:17] zingbretsen commented on #319
The example given in the README does not work. `Decimal` chokes on commas in the value.

Would it be reasonable to just strip out commas (for languages where commas are the thousands separator)?

[2020-10-04 15:53] GrbavaCigla opened #332 "Serbian cyrillic support"
### Expected Behaviour
SR is in latin.

### Actual Behaviour
SR should be in cyrillic (with latin version)

Would you merge my pull request if I added SR cyrillic and moved SR to SR-LATN?
Thanks in advance!

[2020-10-08 15:52] GrbavaCigla opened #336 "Wrong output for serbian"
### Expected Behaviour
`jedan zapeta nula jedan` (one point zero one)
### Actual Behaviour
`jedan zapeta jedan` (one point one)
### Steps to reproduce
`num2words("1.01")`

[2020-10-12 09:26] kavishat commented on #313
@AyonPal How can we add currency=INR in the command line argument?

I am trying this as shown in the document.
num2words 2.14 -l en_IN --to currency. It gives two euro, fourteen cents.

[2020-10-12 15:52] patrick-wilken opened #339 "Danish fails for large powers of 10"
[code]
throws:
[code]

Probably similar fix as in 9d99647?
I'm not familiar enough with the code and the Danish language though to make it a pull request 🙃

[2020-10-13 07:37] AyonPal commented on #313
@kavishat currency command line doesnt support this.
Anyway you can make it work by editing `bin/num2words` file
change **Add a option in Options:** like that:
 `   -c --currency=<currency>    List Currency [default: EUR].`
In **main function update try block** like that:
[code]
then you can call `./num2words 2.14 -l en_IN --to currency -c INR`
returns:
**_two rupees, fourteen paise_**

[2020-10-13 08:50] kavishat commented on #313
@AyonPal That worked like a charm!

Than you so much for your help :)

[2020-11-12 13:12] cyriaka90 commented on #304
see also: https://github.com/savoirfairelinux/num2words/issues/277

[2020-11-12 13:13] cyriaka90 opened #346 "Turkish: 0 doesn't return anything"
### Expected Behaviour

0 -> sıfır

### Actual Behaviour

0 ->

### Steps to reproduce

* num2words(0, lang="tr")

[2020-11-15 19:35] jaraco opened #348 "Support runpy invocation"
I'd like to be able invoke num2words from the command-line without a console script entry point, i.e.:

[code]

Adding such a [runpy](https://docs.python.org/3/library/runpy.html) invocation would allow the functionality to be queried in environments where the console scripts are unavailable or masked by another environment (e.g. multiple python versions). It would also enable the behavior to be i

[2020-12-29 14:17] ivan-pan opened #357 "German: spacelessness, obligatory “ein”, capitalization"
### Expected Behaviour

Ordinal numbers are written without spaces, e.g., `'einemillionerste'`.

I also think that while one may say <i>millionste</i> instead of <i>einmillionste</i>, <i>ein</i> must not be omitted in cases like <code>'einemilliarde**ein**millionste'</code> (note that it is used without the inflectional ending <i>-e</i> here because <i>…million</i> is immediately followed by the s

[2021-01-03 22:43] Krozark opened #359 "add a word2num function"
Just a idea, but as the base code contain a lot of information, maybe there is a way to add reverse translation (words to number)

[2021-01-19 13:42] veqtor opened #361 "NOT MAINTAINED?"
### Expected Behaviour

When contributors submit pull requests they are reviewed and merged

### Actual Behaviour

There has been no activity since 2020-05-04

### Steps to reproduce

Submit PR
Wait
Wait
Wait
Wait
Wait

[2021-01-21 16:37] mtoczko opened #362 "Negative numbers in Polish do not work"
Missing line:
[code]

https://github.com/savoirfairelinux/num2words/blob/e5bed36054b4cb99469b1d9646ae97eb593cf996/num2words/lang_PL.py#L136-L140
vs.
https://github.com/savoirfairelinux/num2words/blob/e5bed36054b4cb99469b1d9646ae97eb593cf996/num2words/lang_RU.py#L207-L212

[code]

[code]

[2021-01-24 02:33] erozqba commented on #361
@veqtor it's very difficult to maintain the project after no longer working for the Savoir Faire Linux organization. I'm lacking the access I need to manage the project and trying to negotiate this access with the administrators of the organization account.

[2021-01-25 14:35] mromdhane commented on #361
@veqtor we return to work and maintain this project! I will review all the pull request
and you can ask me for your further questions
Thank you

[2021-01-29 18:31] mohamedhagag opened #364 "Adopting the standrad cheques format in words"
It's suggested to use the standard cheques writing format in conversion from numbers to words like this website:
https://www.calculatorsoup.com/calculators/conversions/numberstowords.php

for ex. 31234.56 will be: thirty-one thousand two hundred thirty-four and 56/100 dollars

If it's ok, I can implement it this way.

[2021-02-01 16:10] mromdhane commented on #364
I think we can add it but it like an option; if the user wants a cheques format. Not to modify all the project.
waiting for other comments...

[2021-02-09 15:53] javidh opened #368 "Italian trillion problem"
input: 257,550,000,000,000
language italian

### Expected Behaviour

duecentocinquantasette trilioni cinquecentocinquanta miliardi

### Actual Behaviour

duecentocinquantasette bilioni e cinquecentocinquanta miliardi

### Steps to reproduce

Just run `n2words(257550000000000, {lang: 'it'})`

[2021-02-11 15:58] neysofu commented on #368
Hi @javidh, I'm the one who wrote the current version of the Italian module.

I believe the current behavior is correct. In Italian, a "bilione" is defined as 10<sup>12</sup>, You can find more information the Wikipedia [article](https://it.wikipedia.org/wiki/Bilione): this is because in Italy we use the long scale system. A "trilione" would be 10<sup>15</sup>.

[2021-02-11 16:07] javidh commented on #368
Hi @neysofu, thanks for the explanantion. So [google translate](https://translate.google.com/?sl=it&tl=en&text=duecentocinquantasette%20bilioni%20e%20cinquecentocinquanta%20miliardi%0A%0A&op=translate) was wrong. Thanks!

[2021-02-11 16:16] neysofu commented on #368
Yup, I guess it confuses between the strikingly similar "billions" and "bilioni", even though they're not the same number :)

[2021-02-11 16:53] #368 closed

[2021-02-12 16:57] cyriaka90 commented on #361
Great, that there's new activity! :) - Will there also be a new release soon?

[2021-02-12 17:36] mromdhane commented on #361
@cyriaka90 yes! we are working on it.

[2021-02-12 17:45] cyriaka90 commented on #361
Cool - looking forward to it!

[2021-02-13 13:14] veqtor commented on #361
Thank you for reviewinging and merging PR's! Greatly appreciated!

[2021-02-13 13:14] #361 closed

[2021-02-17 07:05] Jonadabe opened #372 "Does it make any sense including ISO 4217 (currency codes) in this project?"
### Future enhancement

Some languages have under twenty currencies, other have more than one hundred.

Wouldn't it be better having a common base (like the ISO 4217) for all the languages and just translate the currency name, currency symbol and cents?

I saw some python projects that maybe could be used:

* https://github.com/dahlia/iso4217 [ https://pypi.org/project/iso4217/ ]
* https://github.

[2021-02-19 16:08] mromdhane commented on #281
@aaronrudkin yes it is interesting, @khuang0312 we can work on it.

[2021-02-24 18:29] #317 closed

[2021-03-18 07:14] mrr-r opened #378 "Please add Pesian language"
Hello,
Thank you for your module.
Please add to your module Persian language, you can use our symbol with follow code:
unit = {
"0" : "" ,
"1" : "یک" ,
"2" : "دو" ,
"3" : "سه" ,
"4" : "چهار" ,
"5" : "پنج" ,
"6" : "شش" ,
"7" : "هفت" ,
"8" : "هشت" ,
"9" : "نه"}

tens = {
"0" : "" ,
"10" : "ده" ,
"11" : "یازده" ,
"12" : "دوازده" ,
"13" : "سیزده" ,
"14" : "چهارده" ,
"15" : "پانزده" ,
"16" : "شانزده" ,

[2021-04-20 16:56] sumania95 opened #381 "Please add philippines language"
### Expected Behaviour

Fill me in ...

### Actual Behaviour

Fill me in ...

### Steps to reproduce

* step 1
* step 2
* ...

[2021-05-07 15:05] #346 closed

[2021-05-23 10:50] adilmujeeb opened #390 "Arabic: Connector word (و) [corresponding to 'and' in English] is missing"
### Expected Behaviour

مئتان و اثنان و ستون

### Actual Behaviour

مئتاناثنان و ستون

### Steps to reproduce
The connector word (و) is missing for the number bigger than 100 and that contains in the tens digit value more or equal to 60. For example, 262 will be shown as (مئتاناثنان و ستون) when it should be (مئتان و اثنان و ستون)

[2021-05-23 12:42] adilmujeeb opened #391 "Arabic: Connector word (و) is missing if the number has zero in the one's digit"
### Expected Behaviour

مائة و ثلاثون

### Actual Behaviour

مائةثلاثون

### Steps to reproduce

The connector word (و) is missing if the number has zero in the one's digit.
For example, 130 will give (مائةثلاثون) when it should be (مائة و ثلاثون)

[2021-05-23 12:51] adilmujeeb opened #392 "Arabic: Adding 'one' is not required in case of one hundred, one thousand, one million etc."
### Expected Behaviour

ألف و مائة

### Actual Behaviour

واحد ألف و مائة

### Steps to reproduce

In case of numbers like one hundred, one thousand, one million, in Arabic, it just say hundred, thousand, million and prefix with one is not needed. But the library adds 'one' (واحد) which is incorrect
Example: For 1100, it gave (واحد ألف و مائة) while it should give (ألف و مائة).

[2021-05-23 12:55] adilmujeeb opened #393 "Arabic: For numbers greater than 1000, an extra space is added to the output"
### Expected Behaviour

واحد ألف و واحد

### Actual Behaviour

واحد ألف  و واحد

### Steps to reproduce

For numbers, greater than 1000, we see an extra space that is added to the output.
For Example: for 1001, it give (واحد ألف  و واحد) having duple spaces instead of  (واحد ألف و واحد).

[2021-05-24 11:01] adilmujeeb opened #394 "Arabic language option doesn't work directly with num2words command"
As per num2words usage, below is the format:
num2words [options] <number>
The language option is -l --lang=<lang> and for Arabic language ar should be specified under <lang> value.
When tried, it gave error and display usage:
$ num2words  --lang=ar 10
10'Num2Word_AR' object has no attribute 'str_to_number'

So I used a wrapper script with below contents and run with python3 script.py and it worked

[2021-06-15 09:28] aliaafee opened #401 "Tests fail on Windows"
### Expected Behaviour

Tests complete successfully.

### Actual Behaviour

Test fails at `test_cli_list_converters (tests.test_cli.CliTestCase)` and `test_cli_list_langs (tests.test_cli.CliTestCase)`

      ======================================================================
      FAIL: test_cli_list_converters (tests.test_cli.CliTestCase)
      You should be able to list all available converte

[2021-06-16 08:05] DanBmh opened #402 "Negative values between (-1,0) not negative (English)"
### Expected Behaviour

Negative values between -1 and 0 should have a "minus" before the textual number

### Actual Behaviour

Missing "minus"

It does work correctly for values lower than -1

### Steps to reproduce

[code]
(Version: 0.5.10)

[2021-06-16 08:21] DanBmh commented on #402
Doesn't work for German too

[2021-06-21 14:15] adilmujeeb opened #403 "Arabic: Ordinal numbers are generated as cardinal"
Below are the observations:

1. All ordinal numbers >20 and <100 are generated as cardinal instead of ordinal.
For example: The ordinal form of (24) which translates to (twenty fourth) should be (الرابع و العشرون), but the library generates (أربع و عشرون) which is the cardinal form.

2. All ordinal numbers >= 100 are also generated as cardinals combined with the issue of the connector (و).
For exa

[2021-08-08 22:22] m-f-h opened #409 "Erroneous -s- in French ordinals for 80, 200, ..."
### Expected Behaviour

In French, the trailing "-s" in "quatre-vingts", "deux cents" etc disappears when the ordinal suffix "-ième" is appended.

### Actual Behaviour

num2words(200,lang="fr",to="ordinal") returns "deux centsième", the "-s-" should not be there.

### Steps to reproduce

'deux centsième'

[2021-08-23 11:43] SpyriP opened #413 "Grammatical Gender Spanish"
In Spanish, we have gender agreement (male-male, female-female). For example, when i give as input the token "1ro", the output I get is the correct one "primero".

However, when I give as input the female token "1ra" the expansion is not working, where it should be expanded as "primera". I've tried a bunch of different ways to change the output to "primera" taking as base the output "primero" but

[2021-08-27 22:38] hardeepparmar opened #414 "Truncation of spelled number when you extend range in power other than 2 or 3."
### Expected Behaviour

Numbers when spelled should not get truncated

### Actual Behaviour

modify lang_EN_IN.py by adding higher power, which are not necessarily increasing in power 2 or 3.
n="12345678901234567890123456789012345678901234567890123456789012345"
print(num2words(n,lang ='en_IN') + ' (IND) ') results into
"one hundred and twenty-three mahaugha, forty-five thousand, six hundred and se

[2021-10-19 16:15] donand opened #418 "Issue with numbers ending with 18 and 21 in Italian"
### Expected Behaviour

[code]
[code]

### Actual Behaviour

[code]
[code]

### Possible Bug
The issue could be in these replace functions in `num2words/num2words/lang_IT.py`
[code]
For the number 118 we don't want to replace `io` with `o`, while for number 121 we want to replace `iu` with `u` but it looks like the replacement is not done.

[2021-10-21 16:39] cassiotbatista opened #420 "[pt_BR] issue with the thousands when the hundreds are exact"
For numbers like 1200, 1300, 7800 and so on, there should be the word `e` (and) instead of a comma `,`. Right now only 1100, 2100, 3100 and so on seem to be working fine.

### Expected Behaviour

[code]

### Actual Behaviour

[code]

### Steps to reproduce

See "[Actual Behaviour](#actual-behaviour)"

[2021-11-04 07:51] git-hub0101 opened #423 "Add Tamil Language support"
Add Tamil Language support

[2021-11-14 19:49] Zelinskiy-Aleksandr commented on #401
Fixed in the pull request:

[Fixed: Tests fail on Windows #401](https://github.com/savoirfairelinux/num2words/pull/424)

[2021-11-24 17:05] dejurin opened #425 "AttributeError: 'Num2Word_DK' object has no attribute 'ordflag'"
[code]
Output
`AttributeError: 'Num2Word_DK' object has no attribute 'ordflag'`

[2021-11-26 23:32] Jonadabe opened #426 "12 to 'currency' should be "twelve euro, zero cents" not "zero euro, twelve cents""
### Expected Behaviour

* print(num2words(12.00, lang='en', to='currency'))
the result is as expected:
"twelve euro, zero cents"

### Actual Behaviour

the problem is when I insert only 12
* print(num2words(12, lang='en', to='currency'))
the result is NOT as expected:
"zero euro, twelve cents"

the same occurs with all numbers in currency without . (decimal separator). It's assumed that the last 2

[2021-11-29 17:34] #372 closed

[2021-11-30 22:36] falcaopetri commented on #359
For those needing this feature, [text2num](https://github.com/allo-media/text2num) might be useful in some languages.

[2021-12-03 23:27] Uncreeperble commented on #426
I am taking on this bug

[2021-12-14 13:48] dmkyr20 opened #431 "Change CZ language code to CS"
Hey, I'm very excited to use your library for my project. But I have one ask/issue for you. Why are you using `CZ` language code for the Czech language? Following ISO language standards, the language code for Czech is `CS`. And it's pretty uncomfortable to map global language code to a different one just for your library. I think I'm not the only one who notes it. Maybe you could change it? Thanks

[2021-12-22 14:59] Pr-World opened #432 "Conversion Bug"
### Expected Behaviour

`>> num2word.word(120000455)`
`'One Hundred Twenty million Four Hundred Fifty Five'`

### Actual Behaviour

`>> num2word.word(120000455)`
`'One Hundred Twenty million  thousand Four Hundred Fifty Five'`

### Steps to reproduce

* step 1 : `>> num2word.word(120000455)`
* step 2 : done

### Other possible bugs when it happens
* #### It happens if we leave the thousands, milli

[2021-12-23 05:54] shaheenkdr opened #433 "Swedish does not work"
Trying to convert num to -> swedish . However it raises the error :

[code]
It works for all other languages but not for Swedish.

[2021-12-23 06:01] #433 closed

[2021-12-24 03:13] Pr-World commented on #432
### If you are wondering what's wrong:
#### The `thousand` comes from nowhere. try `num2word.word(10000000002)` there are unwanted `million` and `thousand`

[2021-12-27 17:38] eugene-k commented on #432
Wrong place to send - this is num2words project, not num2word.

[2022-01-03 20:24] nsaintarnaud commented on #426
cannot reproduce issue :
`
% num2words 12 --to currency -l en
twelve euro, zero cents
% num2words 12 --to currency -l fr
douze euros et zéro centimes
% num2words --version
num2words==0.5.10
`

[2022-01-04 13:09] #432 closed

[2022-01-23 18:25] Johnson7878 commented on #413
I will attempt to solve this problem!

[2022-01-28 18:08] Daniel-EST opened #435 "[pt_BR] Issue with the hundreds of millions, billions, ... when the hundreds of those are exact."
### Expected Behaviour
[code]
### Actual Behaviour

[code]

### Steps to reproduce

* See [Actual Behaviour](###Actual-Behaviour)

[2022-01-28 18:48] Johnson7878 commented on #413
Quick question SpyriP, how were you able to get input as '1ro' when it really only accepts '1' as an input?

[2022-01-29 18:15] Johnson7878 commented on #413
Fixed!

[2022-02-01 13:43] Valsept commented on #8
I was a good story indeed.

[2022-02-09 09:11] banchinche opened #440 "Deprecated Pypi latest version (not present UAH currency for RU language)"
Pypi latest version is not actual to source code. I really need UAH-currency for RU language. [This commit](https://github.com/savoirfairelinux/num2words/commit/ca5989a3ec9d7f13abbbc51f192afe8909f51422) and [tests](https://github.com/savoirfairelinux/num2words/commit/40ab739f6c384fb5b8c27c59eac1e5d75cf08c69) tell that it is already implemented.

Executable code example
[code]

Expected behavior
[c

[2022-02-16 22:32] gonsalet opened #444 "[es] Wrong orthography in Spanish: accents in "deciséis", "dólar", "dólares", "veintiún""
### Expected Behaviour
[code]
(Correct orthography according to official Diccionario de la lengua española ( https://dle.rae.es/ ).)

### Actual Behaviour
[code]
### Steps to reproduce
[code]

[2022-02-16 22:33] gonsalet commented on #444
Fixed in pull request https://github.com/savoirfairelinux/num2words/pull/443 (waiting for review).

[2022-02-24 06:50] Simplici opened #446 "the decimal places are not handled corrected for some languages(for example, English and French)"
### Expected Behaviour

for 33.33, i expect:
thirty-three point thirty-three for English
trente-trois virgule trente-trois for French

### Actual Behaviour

for 33.33, i get:
thirty-three point three three for English
trente-trois virgule trois trois for French

### Steps to reproduce

num2words 33.33

num2words 33.33 -l fr

[2022-03-14 20:27] dancergraham opened #447 "Breton Language Support"
### Breton Language Support

I am working on Breton language support (with tests) in this fork https://github.com/dancergraham/num2words

### Current progress

- Tests currently pass for integers up to 1 trillion.
- Support for floating point numbers but with few tests
- Started implementing currencies.

### Next steps

I will continue working on it through March 2022 and then open a pull request

[2022-03-24 00:10] gonsalet opened #449 "[es] Incomplete handling of currency genders"
### Expected Behaviour

- Separated handling of "dollar" and "cent" genders ("veintiuna liras con un céntimo').
- Handling for feminine hundred numbers ("doscientas libras", "trescientas libras"...).
- "veintiuna", "treinta y una"... should be used for feminine currencies, instead of "veintiún", "treinta y un"... (source: https://www.rae.es/dpd/una , section 2.2)

'trescientas cincuenta libras con

[2022-03-24 00:11] gonsalet commented on #449
Fixed in pull request https://github.com/savoirfairelinux/num2words/pull/443 (waiting for review).

[2022-03-30 03:39] eagleoflqj opened #450 "Drop python 2 support"
Great project, thank you.
I want to use it in [SymPy Beta](https://github.com/eagleoflqj/sympy_beta), which runs on [pyodide](https://github.com/pyodide/pyodide). However, as num2words currently support python 2 and 3, its dependency of docopt cannot be switched to docopt-ng, which is a better-maintained fork of docopt and supports python 3 only. Pyodide can only load a pure python 3 wheel.
To ful

[2022-04-29 16:38] emregeldegul opened #454 "Turkish: Negative numbers return wrong text"
### Expected Behaviour

-50 -> eksielli

### Actual Behaviour

-50 -> beşyüzelli

### Steps to reproduce

num2words(-50, lang="tr")

[2022-05-27 16:57] ValyaevRasim opened #456 "Wrong num to text transforming"
`num2words(84003.01, lang='ru')`
Result: **восемьдесят четыре тысячи три запятая один**
Expected result: **восемьдесят четыре тысячи три запятая ноль один**

And the same issue on Turkish language. But in English everyting is ok, same as German

![image](https://user-images.githubusercontent.com/89421773/170748435-2aa5421e-bfb0-4758-accd-4c832b99eca8.png)

[2022-05-30 17:23] xicaooo opened #457 "wrong translate for pt-br number 16"
### Expected Behaviour
16 - dezesseis
Fill me in ...

### Actual Behaviour

Fill me in ...
16 - dezasseis

translate de number 16.

[2022-05-30 21:14] williamT386 opened #458 "Using a string input instead of a number input gives wrong output for Czech"
### Expected Behaviour
num2words("1.50", lang='cz')
'jedna celá pět'

### Actual Behaviour
num2words("1.50", lang='cz')
'jedna celá padesát'

### Steps to reproduce

* num2words(1.50, lang='cz') gives the expected output
* step 2
* ...

[2022-06-24 12:16] #457 closed

[2022-06-24 12:16] xicaooo commented on #457
my bad..

[2022-07-02 13:58] smali261 commented on #391
I saw this issue .to fix this we need to change one line in lang.ar file.
But I am new on this framework, how I can update this file.

[2022-07-15 18:07] rillig opened #462 "[de] wrong test case 'ein Mark'"
### Expected Behaviour

'1 DM' => 'eine Mark und null Pfennig'
'21 DM' => 'einundzwanzig Mark und null Pfennig'
'101 DM' => 'einhunderteine Mark und null Pfennig'

For feminine words like 'Mark', the numeral is 'eine' instead of 'ein'.
This rule only applies if `n mod 100 == 1`, but not if `n mod 100 == 21`, then it is 'einundzwanzig Mark und null Pfennig'.

### Actual Behaviour

'1 DM' => 'ein Ma

[2022-08-03 14:19] #444 closed

[2022-08-03 20:30] #138 closed

[2022-08-03 20:31] mrodriguezg1991 commented on #142
@MatissJekabsons is his still an issue or we can close it?

[2022-08-03 20:40] mrodriguezg1991 commented on #147
I am not an English native speaker, but I have found in multiple sites that both ways are correct https://simple.wikipedia.org/wiki/Names_for_ordinal_numbers, let me know what you think

[2022-08-03 20:50] mrodriguezg1991 commented on #123
Coverage for `num2words/lang_NL.py` is currently 91.76, @erozqba  can we close this ?

[2022-08-03 20:59] mrodriguezg1991 commented on #168
@graymauser Sorry for all the issues related to this, a new version was deployed and we will continue to update the library in the future

[2022-08-03 20:59] #168 closed

[2022-08-03 21:00] mrodriguezg1991 commented on #180
Any updates on this issue ???

[2022-08-03 21:03] mrodriguezg1991 commented on #190
@neotrons
Hi,  can we close this issue ??

[2022-08-03 21:09] mrodriguezg1991 commented on #258
@MeggyCal
Hi, is this still an issue ?

[2022-08-04 15:47] MeggyCal commented on #258
Hi, yes, the test still fails, only the return code changed. All tests from test_cli.py fail with  AssertionError: 127 != 0. Maybe the tests in the file don't support Python 3.8 at all?

[2022-08-04 21:46] gonsalet commented on #449
Fixed #443

[2022-08-04 21:47] #449 closed

[2022-08-11 14:14] mrodriguezg1991 commented on #108
@erozqba  num2words/lang_HE.py  is currently at 90.22%, Can we close this issue ?

[2022-08-12 08:42] #159 closed

[2022-08-12 14:52] #299 closed

[2022-08-12 14:56] mrodriguezg1991 commented on #450
We won't be supporting python 2 in the upcoming versions of the application, and all python 2 uses will be eventually remove

[2022-08-12 14:56] #450 closed

[2022-08-16 13:40] cyriaka90 commented on #304
fixed with https://github.com/savoirfairelinux/num2words/pull/345 :)

[2022-08-17 18:16] m-f-h commented on #462
So I have fixed this in my patch #470 which needs to be reviewed to validate the pull request.
I did further research and noticed that in addition to DEM (Deutsche Mark) and ITL (Italian Lira), the same applies to FIM (Finnische Mark), TRY & MTL (Turkish & Maltesian Lira). These could just be added in the tuple ("DEM","ITL") I've introduced,
or the whole could be defined as a variable (attribute o

[2022-08-17 23:29] m-f-h commented on #409
patches #410 (to test_fr.py) and #411 (to lang_FR.py) would fix this issue, but it seems that the two PR's are both blocked due to absence of the other one... (?) [I guess I should have "grouped together" the two somehow...]

[2022-08-18 00:11] m-f-h commented on #409
Ah no, actually #411 was blocked by     File "/home/runner/work/num2words/num2words/tests/test_fr_be.py"
and  file "/home/runner/work/num2words/num2words/tests/test_fr_ch.py", for test case 10^6-th:
these two test files required for no reason that it should be "millionsième"
(maybe this was also incorrect in an old version of test_fr.py which now correctly expects "millionième")

[2022-08-18 02:37] m-f-h commented on #409
Actually, the same that applies to 80 and 200 (deux cents => ordinal: deux-centième) also applies to "million" and had been fixed in my patch #410 , I had to patch files test_fr_be.py and test_fr_ch.py accordingly.

[2022-08-18 15:33] rillig commented on #462
There are some more currencies that are feminine in German. See https://de.m.wikipedia.org/wiki/ISO_4217 for an easily clickable list. Basically all of the following:
* Krone
* Rupie/Rupiah
* Mark
* Lempira
* Kuna
* Gourde
* Pataca
* Hrywnja

[2022-08-18 15:48] m-f-h commented on #409
additionally, the somewhat obsolete fr_BE and fr_CH had several errors : in addition to those above (for ordinals ...80, 200, 10^6, 10^9...) they also have erroneous "-s" in 10^6 "un million" (NOT "un millions" as currently produced), 10^12 = un billion etc). I fear this is blocking the PR ...

[2022-08-18 17:35] #325 closed

[2022-08-19 15:20] mrodriguezg1991 commented on #420
PR merged to master, should be added in next release
@cassiotbatista can we close this issue ?

[2022-08-19 16:40] auahelap opened #476 "'Num2Word_ID' object has no attribute 'str_to_number'."
Hello,

I am trying to use num2words for id (Indonesia language). however it give me 'Num2Word_ID' object has no attribute 'str_to_number'.

any idea why?

[2022-08-19 16:42] cassiotbatista commented on #420
Hey,

I tested the very same snippets above and they now work fine, so I'll be closing this. Thanks!
The following is just for logging purposes.

Just pip installed the current version from GitHub (commit hash + msg):

[code]

The output from my snippets do seem ok.

[code]

[2022-08-19 16:42] #420 closed

[2022-08-19 19:15] mrodriguezg1991 commented on #456
@ValyaevRasim Hello and thanks for pointing this out
I dont speak the languages in which the errors happened but all PR to fix the issue are welcome
Thanks

[2022-08-19 19:25] mrodriguezg1991 commented on #440
@banchinche hello , a new version of the library was deployed 0.5.12 , can you verified if the issue is fix ?
Let me know in order to close this issue
Thanks

[2022-08-19 19:34] #435 closed

[2022-08-19 21:10] mrodriguezg1991 commented on #423
@git-hub0101 Can you update the PR in order to test and review?
Thanks

[2022-08-19 21:22] mrodriguezg1991 commented on #381
@sumania95 I don't speak the language, but all PR are welcome, thanks for the suggestion

[2022-08-19 21:31] #339 closed

[2022-08-19 21:33] mrodriguezg1991 commented on #320
@pavlovnicola Hello , i don't speak the language but all PR are welcome

[2022-08-19 21:40] mrodriguezg1991 commented on #304
@warp3r-68 @cyriaka90 Can you test this issue in order to validate it and close ?
Thanks

[2022-08-19 21:42] mrodriguezg1991 commented on #302
@toofun666 Hello, not sure what is this about, can you elaborate a little ?

[2022-08-19 21:47] mrodriguezg1991 commented on #277
@pkrzyszowski can you test is the issue was solved and close it ?

[2022-08-19 21:54] #142 closed

[2022-08-21 06:23] #454 closed

[2022-08-21 06:23] emregeldegul commented on #454
Fixed!

[2022-08-24 13:46] #304 closed

[2022-08-26 11:33] LoneWanderer-GH opened #478 "Add specifics languages for Aeronautical English"
### Expected Behaviour

For aeronautical exchanges purposes, there are a few modifications to words and/or their pronunciation.

3 is to be pronounced "tree"
4 is to be pronounced "fow-er"
5 is to be pronounced "fife"
7 is to be pronounced "sev-en"
9 is to be pronounced "nin-er"
https://en.wikipedia.org/wiki/NATO_phonetic_alphabet#Pronunciation

Another example is how to pronounce numbers:

should

[2022-09-28 09:50] ocmarus opened #482 "wrong decimal conversion for lang RU"
### Expected Behaviour
num2words(490.0, lang='ru')
четыреста девяносто

or another variant:
num2words(5.2, lang='ru')
'пять целых две десятых

### Actual Behaviour
'четыреста девяносто запятая ноль ноль'
and:
'пять запятая два'

### Steps to reproduce
num2words(490.0, lang='ru')

[2022-09-28 09:53] ocmarus opened #483 "to='currency' param adds wrong currency"
### Expected Behaviour
num2words(5.2, lang='ru', to='currency')
'пять рублей, двадцать копеек'

### Actual Behaviour

'пять евро, двадцать центов'

### Steps to reproduce
num2words(5.2, lang='ru', to='currency')

[2022-10-18 14:48] #110 closed

[2022-10-18 22:02] gealodge opened #485 "Norwegian gender of 1"
### Expected Behaviour

The 1 component of 100 and 1000 should be converted to ‘en’ and not ‘ett’, i.e. ‘en hundre’ and ‘en tusen’

### Actual Behaviour

Currently 100 -> ‘ett hundre’ and 1000 -> ‘ett tusen’

### Steps to reproduce

* num2words(‘100’, lang=‘no’)
* num2words(‘1000’, lang=‘no’)

[2022-11-02 10:14] Juan-hussain opened #486 "[tr] no spaces between words"
### Expected Behaviour
num2words(120120,,lang="tr")
yüz yirmi bin yüz yirmi

### Actual Behaviour
num2words(120120,lang="tr")
yüzyirmibinyüzyirmi

### Steps to reproduce

*num2words(120120,,lang="tr")

[2022-11-03 09:54] Juan-hussain opened #487 "[tr] Wrong decimal part beginning with zero"
### Expected Behaviour

sıfır virgül sıfır üç

### Actual Behaviour

sıfırvirgülüç

### Steps to reproduce

num2words(0.03, lang='tr')

[2022-11-09 06:39] SkiBY commented on #483
Используйте параметр currency для получения нужной валюты